- if contributor
  .span8
    .span2
      = image_tag(contributor.diaspora_avatar, :class => 'contributor_avatar')
    .span5
      .contributor_info
        %h4
          = contributor.name.titleize
          %small
            = link_to "#{contributor.diaspora_id}", contributor.diaspora_url
        .content
          %p
            = auto_link(contributor.bio).html_safe
