- if contributor
  .span8
    .contributor_info
      = image_tag(contributor.diaspora_avatar, :class => 'contributor_avatar')
      %h4
        = contributor.name
        %small
          = link_to "#{contributor.diaspora_id}", contributor.diaspora_url
      .content
        %p
          = auto_link(contributor.bio).html_safe
