= content_for :head do
  :javascript
    //$('.tabs').tabs();
    /* <![CDATA[ */
        (function() {
            var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
            t.parentNode.insertBefore(s, t);
        })();
    /* ]]> */

#masthead.hero.sidekick
  .container
    .row
      %h1
        Share the love.
      %p.lead
        Three Easy Ways to Donate

      %div{:style => "text-align:center;"}
        = image_tag 'money.png', :height => 132, :width => 147

.container
  %section#donations-pane

    .row
      .span8
        %h2
          Why your donation matters
        %p
          We’re building the future we want to see -- a new social web that keeps you in control of your data, giving you the freedom to do what you want and have fun.
We’re a tiny core team of developers working our tails off, and we’re also a huge community effort, with more than 150 people having contributed code to our open-source software, hundreds of others engaged in community organizing and spreading the word, and thousands of people providing feedback and financial support.
          %strong
            We can’t do this without you.  
          Please give what you can.  Thank you.

      .span8
        %ul{:class=> 'tabs', :data => {:tabs => 'tabs'}}
          %li{:class => 'active'}
            = link_to 'One Time', '#one_time'
          %li
            = link_to 'Monthly', '#monthly'
          %li
            = link_to 'Flattr', '#flattr'

        #donations.tab-content.row
          #one_time.active.span8
            :erb
                <form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" class='form-stacked' method="post">
                  <fieldset>
                    <legend>
                      One Time Donation
                    </legend>
                    <div class='clearfix'>
                      <div class='input'>
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="business" value="donations@joindiaspora.com">
                        <input type="hidden" name="item_name" value="Contribution To Diaspora">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="input" class='xlarge span2'name="amount" value="25.00">
                    </div>
                    </div>
                  </fieldset>
                  <div class='actions'>
                    <input type="submit" class="btn success" value="Donate">
                  </div>
                </form>

          #monthly.span8
            :erb
              <form action="https://www.paypal.com/cgi-bin/webscr" class='form-stacked' method="post">
              <fieldset>
                <legend>
                  Monthly Subscription
                </legend>
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="N24UFDL4RJJF4">
                  <input type="hidden" name="on0" value="">
                  <div class='clearfix'>
                    <div class='input'>
                      <select name="os0">
                        <option value="Supporter">Supporter : $5.00USD</option>
                        <option value="Member">Member : $10.00USD</option>
                        <option value="Freedom Fighter">Freedom Fighter : $20.00USD</option>
                      </select>
                    </div>
                    </div>
                  <input type="hidden" name="currency_code" value="USD">
                </fieldset>

                <div class='actions'>
                  <input type="submit" class="btn success" value="Donate">
                </div>
              </form>

          #flattr.span8
            %form{:class => 'form-stacked'}
              %fieldset
                %legend
                  Flattr
              :erb
                <a class="FlattrButton" style="display:none;" href="https://flattr.com/profile/Diaspora"></a>
                <noscript><a href="http://flattr.com/thing/382291/Diaspora-on-Flattr" target="_blank">
                <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>

