- content_for :head do
  = javascript_include_tag 'github', 'application'

#top_half
  #masthead.contributors
    .inner
      .container
        .well
          %h1
            Join the movement
          %p.lead
            The future of the social web starts with you.

    #contributors.accel

.container
  %section#get-involved-subnav
    .row
      %ul.pills
        %li
          =link_to 'Contribute Code', '#code'
        %li
          = link_to 'Help Translate', '#translate'
        %li
          = link_to 'Spread the Word', '#spread_the_word'
        %li
          = link_to 'Help Provide Support', '#support'
        %li
          = link_to 'Run your own pod for the community', '#pod'
        %li
          = link_to 'Donate', donate_path

  %section#open_source
    .page-header
      %h1
        Community Powered 
        %small
          Power to the people

    .row
      .span4
        = image_tag "osi_standard_logo.png", :width => 180, :height => 206

      .span12
        %h4
          Quickstats
        %p
          Diaspora is already in the
          %strong top 2%
          of all open source projects ever.  The codebase has received over 
          %strong 800 forks, and
          has over
          %strong 5000 followers
          on github.

        %hr


        %h4
          What does it all mean?
        %p
          Open source is about individuality, transparency, creativity, and destiny.  It is about having an idea, and making it reality.  Diaspora was founded about fulfilling a passion for fun, and making the internet a better place.
          open source is what enables us to change the world, for ourselves, and let our friends across the web benefit from our exploration.

        %p
          open source communities are amazing things.  At Diaspora, we believe that people should be valued by what they do.  It does not matter if you have contributed to a project before, or are an elite open source hacker.
          Contributing Diaspora means that you get to work on hard problems, with a focus on solutions that work for users.

          This is why if you contribute something meaningful to Diaspora, we will give you core commit access(what does that mean?). 
          We are in this together, so giving excited people the change to make huge changes always trumps keeping control sacred.

        %h4
          Where you come in
        %p
          We all make Diaspora.  We might not know you just yet, but we think you'd be a great fit to the future of the web.  You're fantastic, and you're ready to change the world.
        %p
          Contributing to Diaspora comes in all different shapes and sizes.  Whether you're a user helping us find bugs, providing feedback on our mailing lists, contributing code or design, we thank you.

  %section#getting-involved
    .page-header
      %h1
        Ways to Get Involved with Diaspora*
        %small
          Power to the people

    .row#code
      .span4
        = image_tag 'octocats.png'

      .span12
        %h4
          Contribute Code
          %small
            Grabbing the source code is simple.  
        %ol
          %li
            Clone down the repository and poke around:
            %code
              git clone git://github.com/diaspora/diaspora.git
          %li
            = link_to 'install your development enviroment'
          %li
            Write awesome code

        .row
          .span6
            %p
              We've got a large community ready to help you get started.  We suggest you check out our
              = link_to "getting started guide,", "#"
              = link_to "joining our mailing list,", "http://groups.google.com/group/diaspora-dev"
              and hopping in the
              = link_to "Diaspora IRC room.", "irc://irc.freenode.net/#diaspora"
          .span6
            %p
              = link_to "View the source on GitHub »", get_involved_path, :class => 'btn primary'

    %hr
    .row#translate
      .span4
        = image_tag 'globe.png'

      .span12
        %h4
          Help Translate
        %ul
          %li
            You can help translate Diaspora into other languages by joining the 
            = link_to 'Translations Group.', 'http://99translations.com/public_projects/show/181'
          %li
            We also have instructions on how to get involved at 
            = link_to 'Translations Instructions.', 'https://github.com/diaspora/diaspora/wiki/How-to-contribute-translations'

    .row#spread_the_word
      .span4
        = image_tag 'megaphone.png'

      .span12
        %h4
          Spread the Word

        %ul
          %li
            Join our 
            = link_to 'grassroots mailing list', 'https://mailman.stanford.edu/mailman/listinfo/diaspora-grassroots'
            to help spread the word.  
          %li
            If you're a blogger, join our 
            = link_to 'grassroots media group', 'https://mailman.stanford.edu/mailman/listinfo/diaspora-media'
          %li
            Help organize your own real-life Diaspora* 
            =link_to 'meetup', 'http://www.meetup.com/Diaspora/' 
            in your own community.

    .row#support
      .span4
        = image_tag 'support.png'

      .span12
        %h4
          Help Provide Support
        %ul
          %li
            To help write user tutorials, visit
            = link_to 'Diasporial', 'http://diasporial.com/'
          %li
            Help us build out our 
            = link_to 'Forum', 'http://www.diasporaforum.org/'

          %li
            Help answer users' questions at 
            =link_to 'GetSatisfaction', 'https://getsatisfaction.com/diaspora'
            or 
            = link_to 'IRC channel', 'http://webchat.freenode.net/?channels=diaspora'
          %li
            Contribute to 
            = link_to "Diaspora's Wiki", 'https://github.com/diaspora/diaspora/wiki'
            at Github
          %li
            Help answer users' questions on Diaspora itself by following the #help, #questions and #feedback hashtags

    %hr

    .row#pod
      .span4
        = image_tag 'pod.png'
      .span12
        %h4
          Run a community Pod
        %ul
          %li
            If you would like to set up a community pod, please click here 
            = link_to "Pod installation instructions", "https://github.com/diaspora/diaspora/wiki/Installing-and-Running-Diaspora" 
          %li
            To view a list of community pods, click here
            =link_to "click here.", "http://podupti.me/"

  %section#core_team
    .page-header
      %h1
        The Core Team
        %small
          The people who work on Diaspora every day

    %p
      these are the people who have dedicated much of their time to making Diaspora awesome.  You can join this list by contributing here: http://github.com/diaspora/diaspora

    - @contributors.each do |kind, contributors|
      .row
        .span4
          %h2
            = kind.pluralize.titleize

        .span12
          - contributors.in_groups_of(2) do |c1, c2|
            .row
              .span5
                .contributor_info
                  = image_tag(c1.avatar, :class => 'contributor_avatar')
                  .content
                    %h4
                      = c1.name
                      %small
                        = link_to "#{c1.diaspora_id}", diaspora_url(c1)
                    %p
                      = auto_link(c1.bio).html_safe

                    .contributor_links
                      = link_to(image_tag('github-icon.png'), c1.github_url, :title => 'on GitHub')
              .span5
                .contributor_info
                  = image_tag(c2.avatar, :class => 'contributor_avatar')
                  .content
                    %h4
                      = c2.name
                      %small
                        = link_to "#{c2.diaspora_id}", diaspora_url(c2)
                    %p
                      = auto_link(c2.bio).html_safe

                    .contributor_links
                      = link_to(image_tag('github-icon.png'), c2.github_url, :title => 'on GitHub' )

    think your name should be here? send your info to support@joindiaspora.com!
