#top_half
  #masthead.contributors
    .inner
      .container

        .well
          %h1
            Join the movement
          %p.lead
            The future of the social web starts with you.

    #contributors

.container
  .clearfix

  %h2
    We are a diverse community of passionate hackers, painters, and visionairies who are trailblazing the future of the social web.
    =link_to 'help us change the world.', '#'

  .clearfix

  .row
    .span6
      %h3
        Diaspora community quick stats
      %ul
        %li
          over
          #number
            0
          contributions
        %li top 2% of all open source projects
        %li 6th most popular project on GitHub
        %li over 800 forks
        %li over 5000 followers
        %li BDS open source rookie of the year
        %li used in countries all over the world
        %li liberal code commit rights policy
        %li you don't need to code to get involved
        %li easy to get involved
        %li change people's lives

    .span6
      %h3
        ways you can get involved
      %ul
        %li Coding
        %li Outreach
        %li Building applications
        %li Hosting Meetups 
        %li Design
        %li Fan Art
        %li Curating awesome content 
        %li Donating 
        %li Fundraising 
        %li anything you want to do.

    .span4
      = link_to("Grab the code", "http://gitub.com/diaspora/diaspora", :class => 'btn primary')

  .row
    .page-header
      %h1
        Our open source policy

    .span4
      %h2
        Commitment

    .span12

      %p
        it is about individuality, transpareny, creativity, and destiny.  It is about having an idea, and making it reality.  Diaspora was founded about fulfilling a passion for fun, and making the internet a better place.

        open source is what enables us to change the world, for ourselves, and let our friends across the web benifit from our exploration.

      %p
        open source communites are amazing things.  At Diaspora, we beleive that people should be valued by what they do.  It does not matter if you have contirbuted to a project before, or are an elite open source hacker.
        Contributing Diaspora means that you get to work on hard problems, with a focus on solutions that work for users.

        This is why if you contribute something meaningful to Diaspora, we will give you core commit access(what does that mean?). 
        We are in this together, so giving excited people the change to make huge changes always trumps keeping control sacred.

  .row
    .page-header
      %h1
        Diaspora Community Guidelines
        %small
          Stuff
    %ol
      %li
        We are all in this together.
      %li
        The fastest way to learn is by jumping right in.
      %li
        If your not learning something, your doing it wrong
      %li
        If your not having fun, your doing it wrong
      %li
        Don't solve problems you don't have yet.
      %li
        Be excellent to each other.
      %li
        Our community is our best feature.


  .row
    .page-header
      %h1
        The Core Team
        %small
          The people who work on Diaspora every day

    %p
      these are the people who have dedicated much of their time to making Diaspora awesome.  You can join this list by contributing here: http://github.com/diaspora/diaspora

    - @contributors.each do |kind, contributors|
      .row
        .span4
          %h2
            = kind.pluralize.titleize

        .span12
          -for contributor in contributors
            .span6
              .contributor_info
                = image_tag(contributor.avatar, :class => 'contributor_avatar')
                .content
                  %h4
                    = contributor.name
                    %small
                      = link_to "#{contributor.diaspora_id}", diaspora_url(contributor)
                  %p
                    = auto_link(contributor.bio).html_safe

                  .contributor_links
                    = link_to("#{contributor.first_name}'s GitHub", contributor.github_url, :class => 'btn small')
    think your name should be here? send your info to support@joindiaspora.com!
  .clearfix

  .row
    .page-header
      %h1
        Join us!



