- content_for :head do
  = javascript_include_tag 'github', 'application'

#masthead.hero.sidekick
  .container
    .row
      %h1
        Join the movement.
      %p.lead
        The future of the social web starts with you.

  #contributors-container
    #contributors.accel
  #contributor-count

.container
  %section#get-involved-subnav
    .row
      %ul.pills
        %li
          =link_to 'Contribute Code', '#code'
        %li
          = link_to 'Translate', '#translate'
        %li
          = link_to 'Spread the Word', '#spread_the_word'
        %li
          = link_to 'Provide Support', '#support'
        %li
          = link_to 'Run your own pod for the community', '#pod'
        %li
          = link_to 'Donate', donate_path, :onClick => "_gaq.push(['_trackEvent', 'Donate Button', 'Click', 'page', '#{params[:action]}_sub_header']);"

  %section#open_source
    .page-header
      %h1
        Community Powered 
        %small
          Diaspora belongs to you

    .row
      .span4
        = image_tag "osi_standard_logo.png", :width => 180, :height => 206

      .span12
        %h4
          Quick stats
        %p
          Diaspora* is already in the
          %strong top 2%
          of all open source projects ever.  The codebase has received over 
          %strong 1000 forks, over
          %strong 5000 followers
          on GitHub, and over 300 Grassroots Volunteers

        %hr

        %h4
          What does it all mean?
        %p
          Open source is about individuality, transparency, creativity, and destiny. It is about having an idea, and making it reality. Diaspora* was founded to fulfill a passion for fun, and for making the Internet a better place. Open source is what enables us to change the world, for ourselves, and let our friends across the web benefit from our exploration.

        %p
          Open source communities are amazing things. At Diaspora*, we believe that people should be valued for what they do. It does not matter if you have contributed to a project before, or are an elite open source hacker. Contributing to Diaspora* means that you get to work on hard problems, with a focus on solutions that work for users. This is why if you contribute something meaningful to Diaspora*, we will give you core commit access. We are in this together, so giving excited people the chance to make huge changes always trumps keeping control sacred.

        %h4
          Where you come in
        %p
          We all make Diaspora*. We might not know you just yet, but we think you'd be a great fit for building the future of the web. You're fantastic, and you're ready to change the world.
        %p
          Contributing to Diaspora* comes in all different shapes and sizes. Whether you're a user helping us find bugs, providing feedback on our mailing lists, or contributing code or design, we need you.

  %section#getting-involved
    .page-header
      %h1
        Ways to Get Involved with Diaspora*

    .row#code
      .span4
        = image_tag 'octocats.png'

      .span12
        %h4
          Contribute Code
          %small
            Grabbing the source code is simple.  
        %ol
          %li
            Clone down the repository and poke around:
            %code
              git clone git://github.com/diaspora/diaspora.git
          %li
            = link_to 'install your development enviroment', install_development_enviroment_path
          %li
            Write awesome code.

        .row
          .span6
            %p
              We've got a large community ready to help you get started.  We suggest you check out our
              = link_to "Getting Started Guide,", "#"
              = link_to "joining our mailing list,", "http://groups.google.com/group/diaspora-dev"
              and hopping in the
              = link_to "Diaspora* IRC room.", "http://webchat.freenode.net/?channels=diaspora-dev"
          .span6
            %p
              = link_to "View the source on GitHub »", code_link, :class => 'btn primary'

    %hr
    .row#translate
      .span4
        = image_tag 'globe.png'

      .span12
        %h4
          Help Translate
        %ul
          %li
            You can help translate Diaspora* into other languages by joining the 
            = link_to 'Translations Group.', 'http://99translations.com/public_projects/show/181'
          %li
            Read our
            = link_to 'translations instructions.', 'https://github.com/diaspora/diaspora/wiki/How-to-contribute-translations'
            on how to get started.

    .row#spread_the_word
      .span4
        = image_tag 'megaphone.png'

      .span12
        %h4
          Spread the Word

        %ul
          %li
            Join our 
            = link_to 'grassroots mailing list', 'https://mailman.stanford.edu/mailman/listinfo/diaspora-grassroots'
            to help spread the word.  
          %li
            If you're a blogger, join our 
            = link_to 'grassroots media group', 'https://mailman.stanford.edu/mailman/listinfo/diaspora-media'
          %li
            Persuade your friends and family to join Diaspora* by organizing your own real-life Diaspora* 
            =link_to 'meetup', 'http://www.meetup.com/Diaspora/' 
            in your own community.

    .row#support
      .span4
        = image_tag 'support.png'

      .span12
        %h4
          Provide Support
        %ul
          %li
            Help new users feel welcome!
            = link_to "Sign up here", "http://bit.ly/rny6Zp"
          %li
            Write user tutorials at
            = link_to 'Diasporial', 'http://diasporial.com/'
          %li
            Become a 
            = link_to 'forum', 'http://www.diasporaforum.org/'
            moderator

          %li
            Answer users' questions at 
            =link_to 'GetSatisfaction', 'https://getsatisfaction.com/diaspora'
            or 
            = link_to 'IRC channel', 'http://webchat.freenode.net/?channels=diaspora'
            or
            answer users' questions on Diaspora* itself by following the 
            = link_to '#help', 'http://dia.so/tags/help'
            ,
            = link_to '#question', 'http://dia.so/tags/question' 
            and 
            = link_to '#feedback', 'http://dia.so/tags/feedback' 
            hashtags

          %li
            Contribute to 
            = link_to "Diaspora*'s Wiki", 'https://github.com/diaspora/diaspora/wiki'
            at Github 

    %hr

    .row#pod
      .span4
        = image_tag 'pod.png'
      .span12
        %h4
          Run a community Pod
        %ul
          %li
            Read the
            = link_to "Pod installation instructions", "https://github.com/diaspora/diaspora/wiki/Installing-and-Running-Diaspora" 
            and set up your own community pod.
          %li
            View a list of community pods at
            =link_to "Pod Uptime.", pod_listing_link

  %section#core_team
    .page-header
      %h1
        Diaspora*'s Contributors
        %small
          The people who work on Diaspora* every day

    - @contributors.each do |kind, contributors|
      .row
        .span16
          %h2
            = contributor_type(kind)
      .clearfix
        %br

      .row
        .span16
          - contributors.in_groups_of(2) do |c1, c2|
            .row
              = render 'contributor', :contributor => c1
              = render 'contributor', :contributor => c2
      %hr


  %section#start-contributing
    %h6
      Have you already contributed to Diaspora*? We want to see your name here!
      = link_to 'email us', 'mailto:team@joindiaspora.com'
