<% content_for :page_title, t('pages.getting_started7.menu_title') %>
<% content_for :wrapper_class, "index_page" %>

<div id="masthead", class="hero">
  <div class="container">
    <h1><%= t 'pages.tutorials.started_head' %></h1>
    <h2><%= t 'pages.getting_started7.byline' %></h2>
  </div>
</div>

<div class="container">
  <div class="row top_spacing">
    <div class="span2">&nbsp;
    </div>
    <div class="span12">       
        <p class="more-info"><%= t 'pages.getting_started7.intro' %></p>
        
        <h3><%= t 'pages.getting_started7.connect' %></h3>
        <p><%= t 'pages.getting_started7.connect_ex1' %></p>
        <p class="more-info"><%= t 'pages.getting_started7.connect_ex2' %></p>
        <p><%= t 'pages.getting_started7.connect_ex3' %><span class="click"><%= t 'click.connect' %></span><%= t 'pages.getting_started7.connect_ex4' %></p>
        <p><%= t 'pages.getting_started7.connect_ex5' %><%= link_to t('pages.tutorials.part5'), getting_started5_url  %><%= t 'pages.getting_started7.connect_ex6' %></p>
        
        <h3><%= t 'pages.getting_started7.settings' %></h3>
        <p><%= t 'pages.getting_started7.settings_ex1' %><span class="click"><%= t 'click.settings' %></span><%= t 'pages.getting_started7.settings_ex2' %></p>
        <p><%= t 'pages.getting_started7.settings_ex3' %></p>
        
        <h5><%= t 'pages.getting_started7.profile' %></h5>
        <p><%= t 'pages.getting_started7.profile_ex1' %><%= link_to t('pages.tutorials.part1'), getting_started1_url  %><%= t 'pages.getting_started7.profile_ex2' %><span class="click"><%= t 'click.update' %></span><%= t 'pages.getting_started7.profile_ex3' %></p>
        
        <h5><%= t 'pages.getting_started7.account' %></h5>
        <p><%= t 'pages.getting_started7.account_ex1' %></p>
        <p><%= t 'pages.getting_started7.account_ex2' %></p>
        <p><%= t 'pages.getting_started7.account_ex3' %><span class="click"><%= t 'click.nsfw' %></span><%= t 'pages.getting_started7.account_ex3a' %></p>
        <p><%= t 'pages.getting_started7.account_ex4' %></p>
        
        <h5><%= t 'pages.getting_started7.privacy' %></h5>
        <p><%= t 'pages.getting_started7.privacy_ex1' %><%= link_to t('pages.tutorials.part5'), getting_started5_url  %><%= t 'pages.getting_started7.privacy_ex2' %></p>
        
        <h5><%= t 'pages.getting_started7.services' %></h5>
        <p><%= t 'pages.getting_started7.services_ex' %></p>
        <p>&nbsp;</p>
        <p><%= t 'pages.getting_started7.finish1' %><span class="click"><%= t 'click.help' %></span><%= t 'pages.getting_started7.finish2' %><span class="click"><%= t 'click.question' %></span><%= t 'pages.getting_started7.finish3' %></p>
        
        <p>&nbsp;</p>
 
        <p align="center"><%= link_to t('pages.getting_started6.byline'), getting_started6_url %> | <%= link_to t('pages.tutorials.headline'), tutorials_url %></p>
       
	</div>   
    <div class="span2">
    </div>
  </div>
</div>
