<% content_for :page_title, t('.menu_title') %>
<% content_for :wrapper_class, 'index-page' %>

<div id="masthead" class="hero">
  <div class="container">
    <h1><%= t 'pages.tutorials.started_head' %></h1>
    <h2 class="lead"><%= t '.byline' %></h2>
  </div>
</div>

<div class="container">
  <div class="row minor-top-spacing">
    <div class="col-md-12">
      <p class="more-info"><%= t '.intro1' %></p>
      <p class="more-info"><%= t('.intro2', part6_link: link_to(t('pages.tutorials.part6'), conversations_url)).html_safe %></p>

      <h3><%= t '.publisher' %></h3>
      <p><%= t '.publisher_ex1' %></p>
      <p><%= t '.publisher_ex2' %></p>
      <div align="center"><%= image_tag 'pages/getting_started/sharing/publisher.png', class: 'img-responsive' %></div>
      <p><%= t '.publisher_ex3' %></p>
      <p><%= t('.publisher_ex4').html_safe %></p>
      <p><%= t '.buttons' %></p>
      <h4><%= t '.top_buttons' %></h4>
      <p><%= t('.top_buttons_ex1').html_safe %></p>
      <ul>
        <li><%= t '.top_buttons_list1' %></li>
        <li><%= t '.top_buttons_list2' %></li>
        <li><%= t '.top_buttons_list3' %></li>
        <li><%= t '.top_buttons_list4' %></li>
        <li><%= t '.top_buttons_list5' %></li>
        <li><%= t '.top_buttons_list6' %></li>
        <li><%= t '.top_buttons_list7' %></li>
        <li><%= t '.top_buttons_list8' %></li>
        <li><%= t '.top_buttons_list9' %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h4><%= t '.aspect_selector' %></h4>
      <p><%= t('.aspect_selector_ex1').html_safe %></p>
      <p><%= t('.aspect_selector_ex2', part3_link: link_to(t('pages.tutorials.part3'), aspects_path)).html_safe %></p>
      <p class="more-info"><%= t('.aspect_selector_ex3', part_link: link_to(t('pages.tutorials.part7'), finishing_path)).html_safe %></p>
      <h4><%= t '.poll' %></h4>
    </div>
    <div class="col-md-4">
      <p class="text-center"><%= image_tag 'pages/getting_started/sharing/aspects_select.png', class: 'img-responsive' %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p><%= t '.poll_ex' %></p>
      <h4><%= t '.photo' %></h4>
      <p><%= t '.photo_ex' %></p>

      <h4><%= t '.locator' %></h4>
      <p><%= t('.locator_ex1', osm_link: link_to('OpenStreetMap', "https://www.openstreetmap.org/")).html_safe %></p>
      <p><%= t('.locator_ex2').html_safe %></p>
      <p class="more-info"><%= t('.locator_ex3').html_safe %></p>

      <h4><%= t '.connected' %></h4>
      <p><%= t('.connected_ex1').html_safe %></p>
      <p><%= t('.connected_ex2').html_safe %></p>

      <h4><%= t '.preview' %></h4>
      <p><%= t('.preview_ex1').html_safe %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p class="text-center"><%= image_tag 'pages/getting_started/sharing/publisher_content.png', class: 'img-responsive' %></p>
    </div>
    <div class="col-md-6">
      <p class="text-center"><%= image_tag 'pages/getting_started/sharing/publisher_preview.png', class: 'img-responsive' %></p>
    </div>
  </div>
      
  <div class="row">
    <div class="col-md-12">
      <p class="more-info"><%= t '.buttons_finish' %></p>

      <h3><%= t '.features' %></h3>
      <h4><%= t '.tags' %></h4>
      <p><%= t('.tags_ex1').html_safe %></p>
      <p><%= t('.tags_ex2').html_safe %></p>
      <h5><%= t'.nsfw' %></h5>
      <p><%= t('.tags_ex3', part7_link: link_to(t('pages.tutorials.part7'), finishing_path)).html_safe %></p>

      <h4><%= t '.mentions' %></h4>
      <p><%= t('.mentions_ex1').html_safe %></p>
      <div align="center"><%= image_tag 'pages/getting_started/sharing/mentions.png', class: 'img-responsive' %></div>
      <p class="minor-top-spacing"><%= t('.mentions_ex2').html_safe %></p>
      <p class="more-info"><%= t('.mentions_ex3').html_safe %></p>

      <h4><%= t '.format' %></h4>
      <p><%= t('.format_ex1').html_safe %></p>
      <p><%= t('.format_ex2').html_safe %></p>
	  <p><%= t('.format_ex3').html_safe %></p>

      <h4><%= t '.links' %></h4>
      <p><%= t('.links_ex1').html_safe %></p>
      <p><%= t('.links_ex2').html_safe %></p>

      <h4><%= t '.images' %></h4>
      <p><%= t('.images_ex1').html_safe %></p>
      <p><%= t('.images_ex2').html_safe %></p>

      <p class="more-info"><%= t('.format_note', format_link: link_to(t('.format_link_text'), formatting_path)).html_safe %></p>

      <h4><%= t '.embed' %></h4>
      <p><%= t('.embed_ex1').html_safe %></p>
      <p class="more-info"><%= t('.embed_ex2').html_safe %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h4><%= t '.services' %></h4>
      <p><%= t('.services_ex1').html_safe %></p>
    </div>
    <div class="col-md-4">
      <p class="text-center"><%= image_tag 'pages/getting_started/sharing/connected_services.png', class: 'img-responsive' %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p><%= t('.services_ex2').html_safe %></p>
      <p class="more-info"><%= t('.services_ex3').html_safe %></p>
      <p class="minor-top-spacing"><%= t '.how' %></p>
      <p><%= t '.try_out' %></p>
      <p><%= t('.make_post1').html_safe %></p>
      <blockquote><%= t('.make_post2').html_safe %></blockquote>
      <p class="more-info"><%= t('.make_post3').html_safe %></p>

      <h3><%= t '.interact' %></h3>
      <p><%= t('.interact_ex1').html_safe %></p>
      <p class="more-info"><%= t('.interact_ex2').html_safe %></p>
      <p class="more-info"><%= t('.interact_ex3').html_safe %></p>

      <h4><%= t '.comments' %></h4>
      <p><%= t('.comments_ex').html_safe %></p>

      <h4><%= t '.likes' %></h4>
      <p><%= t('.likes_ex1').html_safe %></p>
      <p><%= t('.likes_ex2').html_safe %></p>

      <h4><%= t '.reshare' %></h4>
      <p><%= t('.reshare_ex').html_safe %></p>

      <p><%= t('.post_icons').html_safe %></p>
      <h4><%= t '.delete' %></h4>
      <p><%= t('.delete_ex').html_safe %></p>

      <h4><%= t '.hide' %></h4>
      <p><%= t('.hide_ex').html_safe %></p>

      <h4><%= t '.notifications' %></h4>
      <p><%= t('.notifications_ex').html_safe %></p>

      <h4><%= t '.ignore' %></h4>
      <p><%= t('.ignore_ex1').html_safe %></p>
      <p><%= t('.ignore_ex1a').html_safe %></p>
      <p class="more-info"><%= t('.ignore_ex2', part_link: link_to(t('pages.tutorials.part7'), finishing_path)).html_safe %></p>
      
      <h4><%= t '.report' %></h4>
      <p><%= t('.report_ex').html_safe %></p>

      <p class="more-info"><%= t('.finish').html_safe %></p>

      <p class="text-center minor-top-spacing"><%= link_to t('pages.getting_started4.byline'), connecting_url %> | <%= link_to t('pages.getting_started6.byline'), conversations_url %></p>
    </div>
  </div>
</div>
