<% content_for :page_title, t('pages.getting_started3.menu_title') %>
<% content_for :wrapper_class, "index_page" %>

<div id="masthead", class="hero">
  <div class="container">
    <h1><%= t 'pages.tutorials.started_head' %></h1>
    <h2><%= t 'pages.getting_started3.byline' %></h2>
  </div>
</div>

<div class="container">
  <div class="row top_spacing">
    <div class="span2">&nbsp;
    </div>
    <div class="span12">       
        <p><%= t 'pages.getting_started3.aspects1' %></p>
		<p><%= t 'pages.getting_started3.aspects2' %></p>
        <p><%= t 'pages.getting_started3.aspects3' %></p>
        <p><%= t 'pages.getting_started3.aspects4' %><span class="click"><%= t 'click.aspects' %></span><%= t 'pages.getting_started3.aspects4a' %><span class="click"><em><%= t 'click.add_aspect' %></em></span><%= t 'pages.getting_started3.aspects4b' %></p>
        <div align="center"><%= image_tag "add-aspect.png" %></div>
	        <ol>
    		    <li><%= t 'pages.getting_started3.add_aspect1' %></li>
		        <li><%= t 'pages.getting_started3.add_aspect2' %></li>
		        <li><%= t 'pages.getting_started3.add_aspect3' %><span class="click"><%= t 'click.create' %></span><%= t 'pages.getting_started3.add_aspect3a' %></li>
	        </ol>
        <p><%= t 'pages.getting_started3.add_aspect4' %></p>
    </div>
    <div class="span2">&nbsp;</div>
  </div>
        
  <div class="row">
    <div class="span2">&nbsp;</div>
    <div class="span10">
        <p><%= t 'pages.getting_started3.my_aspects1' %><span class="click"><%= t 'click.aspects' %></span><%= t 'pages.getting_started3.my_aspects1a' %></p>
        <ul>
        	<li><%= t 'pages.getting_started3.my_aspects2' %></li>
            <li><%= t 'pages.getting_started3.my_aspects3' %></li>
            <li><%= t 'pages.getting_started3.my_aspects4' %></li>
            <li><%= t 'pages.getting_started3.my_aspects5' %><span class="click"><%= t 'click.deselect' %></span><%= t 'pages.getting_started3.my_aspects5a' %></li>
        </ul>
        <p><%= t 'pages.getting_started3.my_aspects6' %></p>
        <p><%= t 'pages.getting_started3.my_aspects7' %></p>
	        <ol>
    		    <li><%= t 'pages.getting_started3.my_aspects8' %><em><%= t 'pages.getting_started3.my_aspects8a' %></em><%= t 'pages.getting_started3.my_aspects8b' %></li>
		        <li><%= t 'pages.getting_started3.my_aspects9' %></li>
			</ol>
    </div>
    <div class="span4"><%= image_tag "aspect-list.png" %></div>
  </div>
  
  <div class="row">
	<div class="span2">&nbsp;</div>
    <div class="span12">
        <h3><%= t 'pages.getting_started3.contacts' %></h3>
        <p><%= t 'pages.getting_started3.contact_ex1' %><%= link_to t('pages.tutorials.part2'), getting_started2_url %>. <%= t 'pages.getting_started3.contact_ex2' %><span class="click"><%= t 'click.contacts1' %></span><%= t 'pages.getting_started3.contact_ex2a' %></p>
        <p><%= t 'pages.getting_started3.contact_ex3' %></p>
        <p><%= t 'pages.getting_started3.contact_ex4' %><span class="click"><%= t 'click.contacts' %></span><%= t 'pages.getting_started3.contact_ex4a' %><em><%= t 'pages.getting_started3.contact_ex4b' %></em><%= t 'pages.getting_started3.contact_ex4c' %></p>  
        <p><%= t 'pages.getting_started3.contact_ex5' %></p>
        <p><%= t 'pages.getting_started3.contact_ex6' %></p>
        <p><%= t 'pages.getting_started3.contact_ex7' %></p>
        
        <h5><%= t 'pages.getting_started3.sharing_me' %></h5>
        <p><%= t 'pages.getting_started3.sharing_me_ex' %></p>
        
        <p>&nbsp;</p>
        <p class="more-info"><%= t 'pages.getting_started3.finish' %></p>
        
        <p>&nbsp;</p>
 
        <p align="center"><%= link_to t('pages.getting_started2.byline'), getting_started2_url %> | <%= link_to t('pages.getting_started4.byline'), getting_started4_url %></p>
       
    <div class="span2">
    </div>
  </div>
</div>
