<% content_for :page_title, t('pages.getting_started5.menu_title') %>
<% content_for :wrapper_class, "index_page" %>

<div id="masthead", class="hero">
  <div class="container">
    <h1><%= t 'pages.tutorials.started_head' %></h1>
    <h2><%= t 'pages.getting_started5.byline' %></h2>
  </div>
</div>

<div class="container">
  <div class="row top_spacing">
    <div class="span2">&nbsp;
    </div>
    <div class="span12">       
        <p class="more-info"><%= t 'pages.getting_started5.intro1' %></p>
        <p class="more-info"><%= t 'pages.getting_started5.intro2' %><%= link_to t('pages.tutorials.part6'), getting_started6_url %>.</p>
        
        <h3><%= t 'pages.getting_started5.publisher' %></h3>
        <p><%= t 'pages.getting_started5.publisher_ex1' %></p>
        <p><%= t 'pages.getting_started5.publisher_ex2' %></p>
        <div align="center"><%= image_tag "publisher.png" %></div>
        <p><%= t 'pages.getting_started5.publisher_ex3' %></p>
        <p><%= t 'pages.getting_started5.publisher_ex4' %><span class="click"><%= t 'click.share' %></span><%= t 'pages.getting_started5.publisher_ex5' %></p>
        <p><%= t 'pages.getting_started5.buttons' %></p>
        </div>
        <div class="span2">&nbsp;
        </div>
    </div>

	<div class="row">
    	<div class="span2">&nbsp;
        </div>

    	<div class="span10">
        <h5><%= t 'pages.getting_started5.aspect_selector' %></h5>
        <p><%= t 'pages.getting_started5.aspect_selector_ex1' %></p>
        <p><%= t 'pages.getting_started5.aspect_selector_ex2' %><%= link_to t('pages.tutorials.part3'), getting_started3_url %><%= t 'pages.getting_started5.aspect_selector_ex2a' %></p>
        <h5><%= t 'pages.getting_started5.photo' %></h5>
        </div>
        <div class="span4">
        <div align="center"><%= image_tag "aspects_select.png" %></div>
        </div>
	</div>
    <div class="row">
    	<div class="span2">&nbsp;
        </div>
    	<div class="span12">
        <p><%= t 'pages.getting_started5.photo_ex' %></p>
        
        <h5><%= t 'pages.getting_started5.locator' %></h5>
        <p><%= t 'pages.getting_started5.locator_ex1' %></p>
        <p><%= t 'pages.getting_started5.locator_ex2' %></p>
        <p class="more-info"><%= t 'pages.getting_started5.locator_ex3' %></p>
        
        <h5><%= t 'pages.getting_started5.connected' %></h5>
        <p><%= t 'pages.getting_started5.connected_ex1' %></p>
        <p><%= t 'pages.getting_started5.connected_ex2' %></p>
        <p><%= t 'pages.getting_started5.connected_ex3' %><%= link_to t('pages.tutorials.part7'), getting_started7_url %>.</p>
        
        <h5><%= t 'pages.getting_started5.preview' %></h5>
        <p><%= t 'pages.getting_started5.preview_ex1' %></p>
        <p class="more-info"><%= t 'pages.getting_started5.preview_ex2' %></p>
        
        <h3><%= t 'pages.getting_started5.features' %></h3>
        <h5><%= t 'pages.getting_started5.tags' %></h5>
        <p><%= t 'pages.getting_started5.tags_ex1' %></p>
        <p><%= t 'pages.getting_started5.tags_ex2' %></p>
        <p class="more-info"><%= t 'pages.getting_started5.tags_ex3' %><span class="click"><%= t 'click.nsfw' %></span><%= t 'pages.getting_started5.tags_ex3a' %><%= link_to t('pages.tutorials.part7'), getting_started7_url %>.</p>

        <h5><%= t 'pages.getting_started5.mentions' %></h5>
        <p><%= t 'pages.getting_started5.mentions_ex1' %></p>
        <div align="center"><%= image_tag "mentions.png" %></div>
        <p>&nbsp;</p>
        <p><%= t 'pages.getting_started5.mentions_ex2' %></p>
        <p class="more-info"><%= t 'pages.getting_started5.mentions_ex3' %></p>
        
        <h5><%= t 'pages.getting_started5.format' %></h5>
        <p><%= t 'pages.getting_started5.format_ex1' %><%= link_to t('pages.getting_started5.format_ex2'), formatting_url %>.</p>
        
        <h5><%= t 'pages.getting_started5.links' %></h5>
        <p><%= t 'pages.getting_started5.links_ex1' %><span class="click"><%= t 'click.preview' %></span><%= t 'pages.getting_started5.links_ex2' %></p>
        
        <h5><%= t 'pages.getting_started5.embed' %></h5>
        <p><%= t 'pages.getting_started5.embed_ex1' %></p>
        <p class="more-info"><%= t 'pages.getting_started5.embed_ex2' %><em><%= t 'pages.getting_started5.embed_ex3' %></em><%= t 'pages.getting_started5.embed_ex4' %></p>
        <h5><%= t 'pages.getting_started5.services' %></h5>
        </div>
        <div class="span2">&nbsp;
        </div>
    </div>

	<div class="row">
    	<div class="span2">&nbsp;
        </div>

    	<div class="span10">
        <p><%= t 'pages.getting_started5.services_ex1' %></p>
        <p><%= t 'pages.getting_started5.services_ex2' %></p>
        <p><%= t 'pages.getting_started5.services_ex3' %></p>
        </div>
        <div class="span4">
        <div align="center"><%= image_tag "connected_services.png" %></div>
        </div>
	</div>
    <div class="row">
    	<div class="span2">&nbsp;
        </div>
    	<div class="span12">
        <p>&nbsp;</p>
        <p><%= t 'pages.getting_started5.how' %></p>
        <p><%= t 'pages.getting_started5.try_out' %></p>
        <p><%= t 'pages.getting_started5.make_post1' %><span class="click"><%= t 'click.public' %></span><%= t 'pages.getting_started5.make_post2' %><span class="click"><%= t 'click.newhere' %></span><%= t 'pages.getting_started5.make_post2a' %></p>
        <blockquote><%= t 'pages.getting_started5.make_post3' %></blockquote>
        <p class="more-info"><%= t 'pages.getting_started5.make_post4' %></p>
        
        <h3><%= t 'pages.getting_started5.interact' %></h3>
        <p><%= t 'pages.getting_started5.interact_ex1' %></p>
        <p class="more-info"><%= t 'pages.getting_started5.interact_ex2' %><span class="click"><%= t 'click.stream' %></span>, <span class="click"><%= t 'click.activity' %></span>, <span class="click"><%= t 'click.mentions' %></span>, <span class="click"><%= t 'click.aspects' %></span><%= t 'pages.getting_started5.interact_ex2a' %><span class="click"><%= t 'click.tags' %></span>. <%= t 'pages.getting_started5.interact_ex2b' %></p>
        
        <h5><%= t 'pages.getting_started5.comments' %></h5>
        <p><%= t 'pages.getting_started5.comments_ex1' %><span class="click"><%= t 'click.comment' %></span><%= t 'pages.getting_started5.comments_ex2' %><span class="click"><%= t 'click.show_n' %></span>.</p>
        
        <h5><%= t 'pages.getting_started5.likes' %></h5>
        <p><%= t 'pages.getting_started5.likes_ex1' %><%= t 'click.comment' %><%= t 'pages.getting_started5.likes_ex2' %><span class="click"><%= t 'click.like' %></span><%= t 'pages.getting_started5.likes_ex3' %></p>
        <p><%= t 'pages.getting_started5.likes_ex4' %><span class="click"><%= t 'click.unlike' %></span><%= t 'pages.getting_started5.likes_ex4a' %></p>
        
        <h5><%= t 'pages.getting_started5.reshare' %></h5>
        <p><%= t 'pages.getting_started5.reshare_ex1' %><span class="click"><%= t 'click.reshare' %></span><%= t 'pages.getting_started5.reshare_ex2' %></p>
        
        <h5><%= t 'pages.getting_started5.delete' %></h5>
        <p><%= t 'pages.getting_started5.delete_ex1' %><span class="click"><%= t 'click.click_x' %></span><%= t 'pages.getting_started5.delete_ex2' %></p>
        
        <h5><%= t 'pages.getting_started5.hide' %></h5>
        <p><%= t 'pages.getting_started5.hide_ex1' %><span class="click"><%= t 'click.click_x' %></span><%= t 'pages.getting_started5.hide_ex2' %></p>
        
        <h5><%= t 'pages.getting_started5.ignore' %></h5>
        <p><%= t 'pages.getting_started5.ignore_ex1' %></p>
        <p class="more-info"><%= t 'pages.getting_started5.ignore_ex2' %><%= link_to t('pages.tutorials.part7'), getting_started7_url %>.</p>
        <p>&nbsp;</p>
 
        <p class="more-info"><%= t 'pages.getting_started5.finish' %></p>

        <p>&nbsp;</p>
 
        <p align="center"><%= link_to t('pages.getting_started4.byline'), getting_started4_url %> | <%= link_to t('pages.getting_started6.byline'), getting_started6_url %></p>
       
	</div>   
    <div class="span2">
    </div>
  </div>
</div>
