<% content_for :wrapper_class, "index-page" %>

<div id="masthead" class="hero">
  <div class="container">
    <h1><%= t '.headline' %></h1>
    <h2><%= t '.byline' %></h2>
  </div>
</div>

<div class="container top-spacing">
  <div class="row">
    <%= image_tag "pages/index/earthD2.png", alt: t('.earth_alt'), class: 'img-responsive center-block' %>
  </div>
</div>

<div class="page-header">
  <h1><%= t '.key_philosophies' %></h1>
</div>

<div class="container">
  <div class="row minor-top-spacing">
    <div class="col-md-4">
      <p class="text-center">
        <%= image_tag "pages/index/decentralized-stamp.png", alt: t('.decentralized_alt') %>
      </p>
      <h3><%= t '.decentralization' %></h3>
      <p class="feature-description"><%= t '.decentralization_about' %></p>
      <p><%= link_to t('buttons.find_more'), about_path, class: "btn btn-primary" %></p>
    </div>
    <div class="col-md-4">
      <p class="text-center">
        <%= image_tag "pages/index/freedom-stamp.png", alt: t('.freedom_alt') %>
      </p>
      <h3><%= t '.freedom' %></h3>
      <p class="feature-description"><%= t '.freedom_about' %></p>
      <p><%= link_to t('buttons.find_more'), about_path(anchor: 'freedom'), class: "btn btn-primary" %></p>
    </div>
    <div class="col-md-4">
      <p class="text-center">
        <%= image_tag "pages/index/keyhole-stamp.png", alt: t('.keyhole_alt') %>
      </p>
      <h3><%= t '.privacy' %></h3>
      <p class="feature-description"><%= t '.privacy_about' %></p>
      <p><%= link_to t('buttons.find_more'), about_path(anchor: 'privacy'), class: "btn btn-primary" %></p>
    </div>
  </div>
</div>

<div class="page-header minor-top-spacing" id="get_started">
  <h1>
    <%= t '.get_started' %>
    <small><%= t '.get_started_sub' %></small>
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3><%= t '.choose_pod' %></h3>
      <p class="feature-description"><%= t '.choose_pod_exp' %></p>
      <p>
        <a href="https://wiki.diasporafoundation.org/Choosing_a_pod" class="btn btn-primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
    <div class="col-md-4">
      <h3><%= t '.sign_up' %></h3>
      <p class="feature-description">
        <%= t('.sign_up_ex', poduptime: link_to('Pod Uptime', 'http://podupti.me')).html_safe %>
      </p>
      <p>
        <a href="http://podupti.me/" class="btn btn-success">
          <%= t '.register' %>
        </a>
      </p>
    </div>
    <div class="col-md-4">
      <h3><%= t '.join_convo' %></h3>
      <p class="feature-description"><%= t('.join_convo_ex').html_safe %></p>
      <p>
        <a href="/getting_started/sign_up" class="btn btn-primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row top-spacing">
    <div class="col-md-4">
      <p class="text-center feature-header-image">
        <%= image_tag "pages/index/aspects.png", alt: t('.aspects_alt') %>
      </p>
      <h3><%= t '.aspects' %></h3>
      <p class="feature-description"><%= t '.aspects_ex' %></p>
      <p>
        <a href="/about#aspects" class="btn btn-primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
    <div class="col-md-4">
      <p class="text-center feature-header-image">
        <%= image_tag "pages/index/features.png", alt: t('.features_alt') %>
      </p>
      <h3><%= t '.features' %></h3>
      <p class="feature-description"><%= t '.features_ex' %></p>
      <p>
        <a href="/about#features" class="btn btn-primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
    <div class="col-md-4">
      <p class="text-center feature-header-image">
        <%= image_tag "pages/index/question-stamp.png", alt: t('.ways_to_help_alt') %>
      </p>
      <h3><%= t '.help' %></h3>
      <p class="feature-description"><%= t '.help_ex' %></p>
      <p>
        <a href="/get_involved#ways_to_help" class="btn btn-primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
  </div>
  <div class="row top-spacing">
    <div class="col-md-2">
      <%= image_tag "pages/index/services.png", alt: t('.services_alt'), class: 'services-teaser-image' %>
    </div>
    <div class="col-md-10">
      <h3><%= t '.socialint' %></h3>
      <p><%= t '.socialint_ex' %></p>
    </div>
  </div>
</div>
