#top_half
  #masthead
    .inner
      .container
        #collage-container
          #screenshot_collage
            - (1..3).each do |n|
              = image_tag("screen_collage_#{n}.png", :id => "z-depth-#{n}")

        %h1
          Diaspora is the social web frontier.

        %p.lead
          Diaspora brings the best parts of the web, small and focused applications, together.
          Our web of identity servers lets anyone join and take control of their data without losing the connectedness of today's internet.


        = link_to("Get an account »", "https://joindiaspora.com", :class => 'btn primary large')
        .clearfix

.clearfix
.container

  .row#top_features
    .span4
      %h6
        Aspects

      %p
        Our web of identity servers lets anyone join and take control of their data without losing the connectedness of today's internet.

      = image_tag('the_community.png')

    .span4
      %h6
        Community

      %p
        Take control of their data without losing the connectedness of today's internet.

      - (1..6).each do |n|
        = image_tag("avatars/person#{n}.jpeg", :class => "avatar")

    .span4
      %h6
        Apps

      %p
        Diaspora brings the best parts of the web, small and focused applications, together.

      = image_tag('cubbies_logo.png')


    .span4
      %h6
        Completely free

      %p
        Diaspora is completely free.  Yeah, awesome.

      = image_tag('free_sign.png')

  .clearfix
  %br
  .page-header
    %h1
      Why Diaspora?
      %small
        Diaspora has a lot to offer

  .row
    .span4
      %h2
        Discovery
      %p
        Explanation text

    .span12
      %h4
        Connect to your other social networks
      %p
        By connecting with services, you can use Diaspora as a megaphone to your social tools.

      %h4
        Hashtags
      %p
        Hashtags allow you to express and follow your interests. They're also a great way to find new people on Diaspora.

      %h4
        Reshare
      %p
        By connecting with services, you can use Diaspora as a megaphone to your social tools.

      %hr

  .row
    .span4
      %h2
        Choice
      %p
        Run it anywhere, and do some other stuff.
    .span12
      %h4
        Powered by Open Source technology 
      %p
        Since Diaspora* is open source, you have the freedom to take your social web with you, wherever you go. 

      %h4
        Three steps to your own server
      %p
        Heroku coming soon

      %hr

  .row
    .span4
      %h2
        Real people
      %p
        Explanation text goes here.

    .span12
      %h4
        We're here to help
      %p
        Diaspora is an international community of people who are passionate about making the social web work for everyone. We're excited to help. Just ask.

      %h4
        International community
      %p
        Diaspora is an international community of people who are passionate about making the social web work for everyone. We're excited to help. Just ask.

      %hr

  .row
    .span4
      %h4
        Bookmarklet
    .span4
      %h4
        Hi-res photos

    .span4
      %h4
        No Ads

    .span4
      %h4
        Own your own data

    %br
    %br
    %br
    %br
    %br
    %br
  .clearfix
  .row
    .page-header
      %h1
        Diaspora is a community effort
        %small
          Made by viewers like you
    %p
      Diaspora is powered by passionate people doing fun things togther.  Find out how what you love to do can help make Diaspora better.
      diaspora is made by people who love sharing online as much as you do. 

    .span8
      %h2
        Contribute code

      %p
        Some explanation of how people can contribute in a bunch of different ways (not just coding).

      = link_to "Grab the source »", get_involved_path, :class => 'btn primary'

    .span8
      %h2
        Donate

      %p
        Explanation of why donations are so important.  Also, maybe a
        = link_to "link", "#"
        to that chart that will explain how we spend our money in developing Diaspora.

      = link_to "Donate", donate_path, :class => 'btn info'

    /=link_to "join our mailing list. you won't regret it:"


