- content_for :head do
  = javascript_include_tag 'carousel'
  :javascript
    $(document).ready(function(){
      $('#screenshot_collage').bxSlider({auto:true, infiniteLoop:true, autoDelay:10000, pause:10000 });
    })
#top_half
  #masthead
    .inner
      .container
        .clearfix
        .row
          %h2.lead
            Explore the best of the web with Diaspora*: a fun and creative community that puts you in control.
          #collage-container
            #screenshot_collage
              %div
                .span6
                  %h3
                    Creative Community
                  %p
                    + Diaspora is built and run by its users for its users.
                  %p
                  
                    + Meet artistic people from all over the world who love the internet as much as you do.
                  %p
                  
                    + Be whoever you want to be– Express yourself freely
                  %p
                  
                    + a community of people who appreciate the stuff you post
                  %p
                  
                    + get support from users just like you
                .span9
                  =image_tag 'featured_users.png'

              %div

                .span6
                  Control(pod graphic)
                  + use aspects to share only with who you want, or publicly
                  + own your own social data by running your own network, or participate in open community network
                  + open source code is transparent so you know where your data is going
                  + your own ad free experience
                  + decentralized + no one central party controlling Diaspora 
                .span9
                  = image_tag 'ecosystem.png'
                

              %div
                .span10
                  = image_tag 'cubbies_collage.png'
                .span6
                  Best of the Web(cubbies explosion page)
                  + applications that enable you to cool stuff throughout the web (like cubbi.es)
                  + hashtags everywhere make finding people and posts easy and fun
                  + meet people who love to share and appreciate amazing internet explorers
                  + Every feature you need, no feature you don't (no feature creep)

.clearfix
.container
  %br
  %section#why_diaspora
    .page-header
      %h1
        More Features
        %small
          These are our community's favorite
    .row
      .span4
        %h2
          images in this gutter?
        %p
          this should be images

      .span12
        %h4
          Connect to your other social networks
        %p
          Share with those not even on Diaspora yet with ease.  By connecting with services, you can use Diaspora as a megaphone to your social tools.  Diaspora currently supports cross-posting to your Facebook, Twitter, and Tumblr accounts.

        %h4
          Hashtags
        %p
          Hashtags allow you to express and follow your interests. They're also a great way to find new people on Diaspora.

        %h4
          Reshare
        %p
          Really like a post?  Then why not share it with your contacts?  Diaspora makes it easy to spread ideas throughout the network through resharing posts.
        %h4
          Mentions
        %p
          Want to get the attention of an amazing community member? just @-mention them!


        %h4
          Personal Profile
        %p
          Say whatever you want about who you are.  Diaspora doesn't force your awesomeness into restrictive categories
        
        %h4
          We're here to help
        %p
          Diaspora is an international community of people who are passionate about making the social web work for everyone. We're excited to help. Just ask.
        
        %h4
          Aspects
        %p
          Ever wanted to to share something with a small group of people? Or post something out to the world?  Diaspora* pioneered Aspects, the original system for sharing things with the people you want, even if thats the whole world.
        %h4
          Export your data
        %p
          it works (most of the time!)
        %h4
          Delete your account whenever you want
        %p
          Our community will be sad to see you go, but we want you to feel in control as possible on Diaspora

        %h4
          Move Pods
          %span.label.success 
            coming soon!
        %p
          Get started on a community pod, and then move all of your social data to a pod you control.  Diaspora's Distrubuted nature lets you keep full control of where you source your social data from.
        %h4
          Host it yourself
        %p
          Not content on hosting your data on someone else's server?  No problem!  Since Diaspora is completely free software, you can
          = link_to "grab the code", "https://github.com/diaspora/diaspora"
          and host it where ever you want.  We're constatnly making it easier for individuals to host Diaspora themselves.
          

        %h4
          Lots more!
        %p
          If you want to know more about Diaspora, should should get an account on a community pod.  It's fast, free and easy.
          = link_to 'open pods'
        %hr




    .row
      .span4
        %h6
          Bookmarklet

        %p
          Use a bookmarket to easily share interesting content from around the web with whomever you'd like.


      .span4
        %h6
          Hi-res photos
        Upload and share high-resolution photos with whomever you choose.

      .span4


      .span4


      %br
      %br
      %br
      %br
      %br
      %br
  .clearfix

  %section
    .page-header
      %h1
        Diaspora is a community effort
        %small
          Made by viewers like you
    %p
      Diaspora is powered by passionate people doing fun things together.  Find out how what you love to do can help make Diaspora better.
      diaspora is made by people who love sharing online as much as you do. 
      = link_to 'Learn More', get_involved_path

    .row
      .span8
        %h2
          Contribute code

        %p
          Grabbing the source code is simple.  Clone down the repository and poke around:
          %code
            git clone git://github.com/diaspora/diaspora.git

        %br
        %p
          = link_to "View the source on github »", get_involved_path, :class => 'btn primary'
        %br

        %p
          We've got a large community ready to help you get started.  We suggest you check out our
          = link_to "getting started guide,", "#"
          = link_to "joining our mailing list,", "http://groups.google.com/group/diaspora-dev"
          and hopping in the
          = link_to "Diaspora IRC room.", "irc://irc.freenode.net/#diaspora"


      .span8
        %h2
          Donate

        %p
          Explanation of why donations are so important.  Also, maybe a
          = link_to "link", "#"
          to that chart that will explain how we spend our money in developing Diaspora.

        = link_to "Donate", donate_path, :class => 'btn info'

      /=link_to "join our mailing list. you won't regret it:"



