<% content_for :wrapper_class, "index_page" %>

<div id="masthead" class="hero">
  <div class="container">
    <h1><%= t '.headline' %></h1>
    <h2><%= t '.byline' %></h2>
  </div>
</div>

<div class="container" id="earth_container">
  <div class="row">
    <div class="center">
      <%= image_tag "earthD2.png", alt: t('.earth_alt') %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row top_spacing">
    <h1><%= t '.key_philosophies' %></h1>
  </div>
  <div class="row minor_top_spacing">
    <div class="span-one-third">
      <%= image_tag "decentralized-stamp.png", alt: t('.decentralized_alt') %>
    </div>
    <div class="span-one-third">
      <%= image_tag "freedom-stamp.png", alt: t('.freedom_alt') %>
    </div>
    <div class="span-one-third">
      <%= image_tag "keyhole-stamp.png", alt: t('.keyhole_alt') %>
    </div>
  </div>
  <div class="row minor_top_spacing">
    <div class="span-one-third">
      <h2><%= t '.decentralization' %></h2>
      <p><%= t '.decentralization_about' %></p>

      <p class="find_out_more">
        <%= link_to t('buttons.find_more'), about_path, class: "btn primary" %>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t '.freedom' %></h2>
      <p><%= t '.freedom_about' %></p>

      <p class="find_out_more">
        <%= link_to t('buttons.find_more'), about_path(anchor: 'freedom'), class: "btn primary" %>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t '.privacy' %></h2>
      <p><%= t '.privacy_about' %></p>

      <p class="find_out_more">
        <%= link_to t('buttons.find_more'), about_path(anchor: 'privacy'), class: "btn primary" %>
      </p>
    </div>
  </div>

  <div class="page-header top_spacing" id="get_started">
    <h1>
      <%= t '.get_started' %>
      <small><%= t '.get_started_sub' %></small>
    </h1>
  </div>

  <div class="row">
    <div class="span-one-third">
      <h2><%= t '.choose_pod' %></h2>
      <p>
        <%= t '.choose_pod_exp', poduptime: link_to('Pod Uptime', 'http://podupti.me')).html_safe %>
      </p>
      <p class="find_out_more">
        <a href="https://wiki.diasporafoundation.org/Choosing_a_pod" class="btn primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t '.sign_up' %></h2>
      <p>
        <%= t('.sign_up_ex', poduptime: link_to('Pod Uptime', 'http://podupti.me')).html_safe %>
      </p>
      <p class="find_out_more">
        <a href="http://podupti.me/" class="btn success">
          <%= t '.register' %>
        </a>
      </p>
    </div>
    <div class="span-one-third">
      <h2>
        <%= t '.join_convo' %>
      </h2>
      <p>
        <%= t('.join_convo_ex').html_safe %>
      </p>
      <p class="find_out_more">
        <a href="/getting_started/sign_up" class="btn primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
  </div>

  <div class="row top_spacing">
    <div class="span-one-third">
      <%= image_tag "aspects.png", alt: t('.aspects_alt') %>
    </div>
    <div class="span-one-third">
      <%= image_tag "features.png", alt: t('.features_alt') %>
    </div>
    <div class="span-one-third">
      <%= image_tag "question-stamp.png", alt: t('.ways_to_help_alt') %>
    </div>
  </div>
  <div class="row">
    <div class="span-one-third">
      <h2><%= t '.aspects' %></h2>
      <p>
        <%= t '.aspects_ex' %>
      </p>
      <p class="find_out_more">
        <a href="/about#aspects" class="btn primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t '.features' %></h2>
      <p>
        <%= t '.features_ex' %>
      </p>
      <p class="find_out_more">
        <a href="/about#features" class="btn primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t '.help' %></h2>
      <p><%= t '.help_ex' %></p>
      <p class="find_out_more">
        <a href="/get_involved#ways_to_help" class="btn primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
  </div>

  <div class="row top_spacing">
    <div class="span4">
      <%= image_tag "services.png", alt: t('.services_alt') %>
    </div>
    <div class="span12">
      <h1><%= t '.socialint' %></h1>
      <p><%= t '.socialint_ex' %></p>
    </div>
  </div>
</div>
