#masthead.hero
  .container
    .row
      %h1
        Lorem ipsum
      %p.lead
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.

.container
  %section#body-content
    .row
      
      .center
        = image_tag('cubbies-screenshot.png')

.container
  .inset
    = image_tag 'asterisk-inset.png'

  %section#features
    .page-header
      %h1
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.


    .row
      .span-one-third
        = image_tag('osi-stamp.png')
      
      .span-one-third
        = image_tag('distributed-stamp.png')
      
      .span-one-third
        = image_tag('keyhole-stamp.png')

    .row
      .span-one-third
        %h4
          Open Source
        %p
          The code which makes Diaspora* work is openly available to any developer around the world. Diaspora* is continually being developed by a worldwide community rather than a corporation. Contributions and improvements are vetted and rolled out only after careful checks to make sure they work.
      
      .span-one-third
        %h4
          Decentralization
        %p
          Instead of everyone’s data being contained on centralized servers owned by a corporation, local servers (‘pods’) can be set up anywhere in the world. You can choose which pod to register with, perhaps your local pod, and seamlessly connect with the Diaspora* community worldwide.

      .span-one-third
        %h4
          Ownership
        %p
          Unique to Diaspora* is that you own your data. You do not sign over any rights to a corporation or other interest who could use it for commercial purposes. With Diaspora*, your friends, your habits, and your content are your business ... not ours!

    %hr
    .clearfix
      %br

    .row
      .span8
        %h4
          This

      .span8
        %h4
          Not this


    .clearfix
      %br
      %br
    .row
      .span8
        = image_tag('network-distributed.png')
      .span8
        = image_tag('network-centralized.png')

    .clearfix
      %br
    .row
      .span8
        %h4
          Diaspora*’s network
        %p
          Diaspora* is a true network, with no central base. There are servers (‘pods’) all over the world, each containing the data of those users who have chosen to register with it. These pods communicate with each other seamlessly, so that you can communicate freely with your contacts, wherever they are on the network.

      .span8
        %h4
          Centralized network
        %p
          Most social networks are run from centralized servers owned and run by a corporation. These store all the private data of their users. This data can be lost or hacked, and like any system with a bottleneck, any problem at the servers can make everything run very slowly, or not at all.

        %br
        %br
        %br
    .clearfix

    .row#small_features
      .span4
        %h6
          Bookmarklet

        %p
          Use Diaspora*'s bookmarklet to discover fun content around the web and share it with whomever you'd like.

      .span4
        %h6
          Hi-res photos
        %p
          Upload and share high-resolution photos with whomever you please.

      .span4
        %h6
          Join a pod
        %p
          Diaspora pods mean you can get an account anywhere you would like.
          = link_to 'JoinDiaspora', 'https://joindiaspora.com'
          and
          = link_to 'Diasp.org', 'https://diasp.org'
          are two of the largest, but you can sign up at 
          = link_to 'any open community pod.', pod_listing_link
      .span4
        %h6
          Lots more!
        %p
          %strong
            Ready to use Diaspora*?
          Then get an account on a community pod.  It's fast, easy, and free.
          = link_to "Sign up", pod_listing_link, :class => "btn primary"


  %section#benifits
    .page-header
      %h1
        Own your data

    .row
    .clearfix
      %br
      %br

    .row
      .span2
        =image_tag('lock.png')
      .span14
        %h4
          Host it yourself
        %p
          Now you don't have to settle for having your data on someone else's server. Since Diaspora is completely free software, you can
          = link_to "grab the code", code_link 
          and host it wherever you want. We're constantly making it easier for individuals to host their own pods on Diaspora*.


    .clearfix
      %br
      %br

    .row
      .span2
        = image_tag('download.png')
      .span6
        %h4
          Export your data
          %span.label.warning
            coming soon!
        %p
          Download all of your data in standard formats that can be used in other places.
      .span2
        = image_tag('two_asterisks.png')
      .span6
        %h4
          Move Pods
          %span.label.warning
            coming soon!
        %p
          Get started on a 
          = link_to 'community pod',pod_listing_link
          and then move all of your social data to a pod you control. 
          Diaspora*'s distributed design means that you will never have to sacrifice control of your data to stay connected.
          =link_to 'View current status of this task.', 'https://github.com/diaspora/diaspora/issues/908'

  %section#community
    .page-header
      %h1
        Diaspora* is a community effort
    %p
      Diaspora* is powered by passionate people doing fun things together.  Find out how what you love to do can help make Diaspora* better.
      = link_to 'Learn More', get_involved_path

    .row
      .span8
        %h2
          Contribute code

        %p
          Grabbing the source code is simple.  Clone down the repository and poke around:
          %code
            git clone git://github.com/diaspora/diaspora.git

        %p
          = link_to "View the source on github »", code_link, :class => 'btn primary'


      .span8
        %h2
          Donate

        %p
          Your donations keep us going and enable us to keep developing more amazing features for Diaspora*. Please give generously to help us build a new social web where you're in control.

        = link_to "Donate", donate_path, :class => 'btn success', :onClick => "_gaq.push(['_trackEvent', 'Donate Button', 'Click', 'page', '#{params[:action]}_bottom']);" 

      /=link_to "join our mailing list. you won't regret it:"



