<div id="masthead", class="hero">
  <div class="container">
    <h1><%= t 'pages.home.headline' %></h1>
    <h2><%= t 'pages.home.welcome_paragraph' %></h2>
  </div>
</div>

<div class="container">
  <div class="row"> <br />&nbsp;
    <div class="center">
      <img alt="Earthd*" src="/assets/earthD2.png" />
    </div>
  </div>
</div>


<br />&nbsp;<br />&nbsp;

<div class="container">
  <div class="row">
    <h1><%= t 'pages.home.key_philosophies' %></h1>
  </div>
  <div class="row">
    <div class="span-one-third">
      <img alt="Decentralized-stamp" src="/assets/decentralized-stamp.png" />
    </div>
    <div class="span-one-third">
      <img alt="Freedom-stamp" src="/assets/freedom-stamp.png" />
    </div>
    <div class="span-one-third">
      <img alt="Keyhole-stamp" src="/assets/keyhole-stamp.png" />
    </div>
  </div>
  <div class="row">
    <div class="span-one-third">
      <h2><%= t 'pages.home.decentralization' %></h2>
      <p><%= t 'pages.home.decentralization_about' %></p>

      <p class="find_out_more">
        <a href="/about" class="btn primary"><%= t 'pages.home.find_more' %></a>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t 'pages.home.freedom' %></h2>
      <p><%= t 'pages.home.freedom_about' %></p>

      <p class="find_out_more">
        <a href="/about#freedom" class="btn primary"><%= t 'pages.home.find_more' %></a>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t 'pages.home.privacy' %></h2>
      <p><%= t 'pages.home.privacy_about' %></p>

      <p class="find_out_more">
        <a href="/about#privacy" class="btn primary"><%= t 'pages.home.find_more' %></a>
      </p>

      <br />&nbsp;<br />&nbsp;

      <div id="signup"></div>
      <br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="page-header">
    <h1>
      <%= t 'pages.home.get_started' %>
      <small><%= t 'pages.home.get_started_sub' %></small>
    </h1>
  </div>

  <div class="row"></div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="span-one-third">
      <h2><%= t 'pages.home.choose_pod' %></h2>
      <p>
        <%= t 'pages.home.choose_pod_exp' %>
        <a href="http://podupti.me/">Pod Uptime</a>.
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t 'pages.home.sign_up' %></h2>
      <p>
        <%= t 'pages.home.sign_up_ex1' %>
        <a href="http://podupti.me/">Pod Uptime</a>
        <%= t 'pages.home.sign_up_ex2' %> 
      </p>
      <p class="find_out_more">
        <a href="http://podupti.me/" class="btn primary" data-backdrop="true" data-controls-modal="my-modal">
          <%= t 'pages.home.register' %>
        </a>
      </p>
    </div>
    <div class="span-one-third">
      <h2>
        <%= t 'pages.home.join_convo' %>
      </h2>
      <p>
        <%= t 'pages.home.join_convo_ex' %>
      </p>
    </div>
  </div>
  <br />&nbsp;<br />&nbsp;<br />&nbsp;

  <hr />

  <br />
  <br />

  <div class="row">
    <div class="span-one-third">
      <img alt="Aspects" src="/assets/aspects.png" />
    </div>
    <div class="span-one-third">
      <img alt="Features" src="/assets/features.png" />
    </div>
    <div class="span-one-third">
      <img alt="Ways to help" src="/assets/question-stamp.png" />
    </div>
  </div>
  <div class="row">
    <div class="span-one-third">
      <h2><%= t 'pages.home.aspects' %></h2>
      <p>
        <%= t 'pages.home.aspects_ex' %>
      </p>
      <p class="find_out_more">
        <a href="/about#aspects" class="btn primary">
          <%= t 'pages.home.find_more' %>
        </a>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t 'pages.home.features' %></h2>
      <p>
        <%= t 'pages.home.features_ex' %>
      </p>
      <p class="find_out_more">
        <a href="/about#features" class="btn primary">
          <%= t 'pages.home.find_more' %>
        </a>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t 'pages.home.help' %></h2>
      <p><%= t 'pages.home.help_ex' %></p>
      <p class="find_out_more">
        <a href="/get_involved#ways_to_help" class="btn primary">
          <%= t 'pages.home.find_more' %>
        </a>
      </p>
    </div>
  </div>
  <br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;

  <div class="row">
    <div class="span4">
      <img alt="Services" src="/assets/services.png" />
    </div>
    <div class="span12">
      <h1><%= t 'pages.home.socialint' %></h1>
      <p><%= t 'pages.home.socialint_ex' %></p>

      <br /><br />
    </div>
  </div>
</div>
