#top_half
  .container
    .span-24.last{:style => "position:relative;"}
      #explanation
        #screenshot_collage
          - (1..3).each do |n|
            = image_tag("screen_collage_#{n}.png", :id => "z-depth-#{n}")
        %h1#emphasis
          Diaspora is the social web frontier.

        .span-18.prepend-3.append-3.last
          %h3
            %b
              Diaspora brings the best parts of the web, small and focused applications, together.
            Our web of identity servers lets anyone join and take control of their data without losing the connectedness of today's internet.

          %br
          %br

      %h2#big_join_button
        = link_to(("Get an account".html_safe + image_tag('arrow_right.png')), "https://joindiaspora.com")

.container
  %br
  %br

  #top_features.span-24.last
    %h2
      Features our users love...
    .span-6
      .section
        %h3
          Aspects

        %p
          Our web of identity servers lets anyone join and take control of their data without losing the connectedness of today's internet.

        = image_tag('the_community.png')

    .span-6
      .section
        %h3
          Awesome people

        %p
          Take control of their data without losing the connectedness of today's internet.

        - (1..6).each do |n|
          = image_tag("avatars/person#{n}.jpeg", :class => "avatar")

    .span-6
      .section
        %h3
          Apps

        %p
          Diaspora brings the best parts of the web, small and focused applications, together.

        = image_tag('cubbies_logo.png')


    .span-6.last
      .section
        %h3
          Completely free

        %p
          Diaspora is completely free.  Yeah, awesome.

        = image_tag('free_sign.png')

  .clearfix
  %br

  #middle_box
    .span-12
      .section
        %h3
          Connect to social

      .section
        %h3
          Run it anywhere

      .section
        %h3
          Hi-res photos

      .section
        %h3
          Bookmarklet

    .span-12.last
      .section
        %h3
          \#hashtags

      .section
        %h3
          We're here to help!

      .section
        %h3
          No Ads

      .section
        %h3
          Own your own data

      .section
        %h3
          Social all over the web

  .span-24.last
    %br
    %br

    #get_involved_link
      %h2
        made by viewers like you.
        Do What you Wanna Do.
      %p
        diaspora is powered by passionate people doing fun things togther.  Find out how what you love to do can help make Diaspora better.
        diaspora is made by people who love sharing online as much as you do. 
      = link_to "Help Build Diaspora", get_involved_path

    #mailing_list
      =link_to "join our mailing list. you won't regret it:"

/= image_tag('llama.gif')

