<% content_for :wrapper_class, "index_page" %>

<div id="masthead" class="hero row-fluid span12">
  <h1><%= t 'pages.home.headline' %></h1>
  <h2><%= t 'pages.home.welcome_paragraph' %></h2>
</div>

<div class="row-fluid span12 row-centered" id="earth-container">
  <%= image_tag 'earthD2.png', alt: 'Earthd*' %>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="page-header top_spacing" id="get_started">
      <h1>
        <%= t 'pages.home.key_philosophies' %>
      </h1>
    </div>
  </div>
</div>

<div class="row-fluid compare-row">
  <div class="span4">
    <%= image_tag 'decentralized-stamp.png', alt: 'Decentralized-stamp' %>
    <div class="page-header page-header-small">
      <h2><small><%= t 'pages.home.decentralization' %></small></h2>
    </div>
    <p><%= t 'pages.home.decentralization_about' %></p>
    <p class="find_out_more">
      <%= link_to t('pages.home.find_more'), about_path, class: 'btn' %>
    </p>
  </div>
  <div class="span4">
    <%= image_tag 'freedom-stamp.png', alt: 'Freedom-stamp' %>
    <div class="page-header page-header-small">
      <h2><small><%= t 'pages.home.freedom' %></small></h2>
    </div>
    <p><%= t 'pages.home.freedom_about' %></p>
    <p class="find_out_more">
      <%= link_to t('pages.home.find_more'), about_path(anchor: 'freedom'), class: 'btn' %>
    </p>
  </div>
  <div class="span4">
    <%= image_tag 'keyhole-stamp.png', alt: 'Keyhole-stamp' %>
    <div class="page-header page-header-small">
      <h2><small><%= t 'pages.home.privacy' %></small></h2>
    </div>
    <p><%= t 'pages.home.privacy_about' %></p>
    <p class="find_out_more">
      <%= link_to t('pages.home.find_more'), about_path(anchor: 'privacy'), class: 'btn' %>
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="page-header top_spacing" id="get_started">
      <h1>
        <%= t 'pages.home.get_started' %>
        <small><%= t 'pages.home.get_started_sub' %></small>
      </h1>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <div class="page-header page-header-small">
      <h2><small><%= t 'pages.home.choose_pod' %></small></h2>
    </div>
    <p>
      <%= t 'pages.home.choose_pod_exp' %>
      <a href="http://podupti.me/">Pod Uptime</a>.
    </p>
  </div>
  <div class="span4">
    <div class="page-header page-header-small">
      <h2><small><%= t 'pages.home.sign_up' %></small></h2>
    </div>
    <p>
      <%= t 'pages.home.sign_up_ex1' %>
      <a href="http://podupti.me/">Pod Uptime</a>
      <%= t 'pages.home.sign_up_ex2' %>
    </p>
    <p class="find_out_more">
      <a href="http://podupti.me/" class="btn primary" data-backdrop="true" data-controls-modal="my-modal">
        <%= t 'pages.home.register' %>
      </a>
    </p>
  </div>
  <div class="span4">
    <div class="page-header page-header-small">
      <h2><small><%= t 'pages.home.join_convo' %></small></h2>
    </div>
    <p>
      <%= t 'pages.home.join_convo_ex' %>
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="page-header top_spacing" id="get_started">
      <h1>
        <%= t 'pages.home.key_features' %>
      </h1>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span3">
    <%= image_tag 'aspects.png', alt: 'Aspects' %>
    <div class="page-header page-header-small">
      <h2><small><%= t 'pages.home.aspects' %></small></h2>
    </div>
    <p>
      <%= t 'pages.home.aspects_ex' %>
    </p>
    <p class="find_out_more">
      <a href="/about#aspects" class="btn primary">
        <%= t 'pages.home.find_more' %>
      </a>
    </p>
  </div>
  <div class="span3">
    <%= image_tag 'features.png', alt: 'Features' %>
    <div class="page-header page-header-small">
      <h2><small><%= t 'pages.home.features' %></small></h2>
    </div>
    <p>
      <%= t 'pages.home.features_ex' %>
    </p>
    <p class="find_out_more">
      <a href="/about#features" class="btn primary">
        <%= t 'pages.home.find_more' %>
      </a>
    </p>
  </div>
  <div class="span3">
    <%= image_tag 'question-stamp.png', alt: 'Ways to help' %>
    <div class="page-header page-header-small">
      <h2><small><%= t 'pages.home.help' %></small></h2>
    </div>
    <p><%= t 'pages.home.help_ex' %></p>
    <p class="find_out_more">
      <a href="/get_involved#ways_to_help" class="btn primary">
        <%= t 'pages.home.find_more' %>
      </a>
    </p>
  </div>
  <div class="span3">
    <%= image_tag 'services.png', alt: 'Services' %>
    <div class="page-header page-header-small">
      <h2><small><%= t 'pages.home.socialint' %></small></h2>
    </div>
    <p><%= t 'pages.home.socialint_ex' %></p>
  </div>
</div>
