#top_half
  #masthead
    .inner
      .container
        .clearfix
        %h1
          Social networking has evolved.
          /The social web frontier.
          /The future of the social web, today.

        %p.lead
          Diaspora brings the best parts of the web, together.
          /Our web of identity servers lets anyone join and take control of their data without losing the connectedness of today's internet.

        %br

        = image_tag('map_mock.png')

        .clearfix

.clearfix
.container

  %section#getting_involved
    .row
      .span10.offset3
        %div{:style => "float:right;"}
          = link_to("Get an account »", "https://joindiaspora.com", :class => 'btn primary large')

        = link_to("Get involved", "https://joindiaspora.com", :class => 'btn large')


  %section#top_features
    .row
      .span4
        %h6
          Freedom of Expression

        %p
          You can express yourself candidly, and be your authentic self.  You can go by whatever name you like on Diaspora* this opens the door to real connection.  
          /Our web of identity servers lets anyone join and take control of their data without losing the connectedness of today's internet.

        = image_tag('the_community.png')

      .span4
        %h6
          Community

        %p
          Take control of their data without losing the connectedness of today's internet.

        - (1..6).each do |n|
          = image_tag("avatars/person#{n}.jpeg", :class => "avatar")

      .span4
        %h6
          Apps

        %p
          Diaspora brings the best parts of the web, small and focused applications, together.

        = image_tag('cubbies_logo.png')


      .span4
        %h6
          Completely free

        %p
          Diaspora is completely free.  Yeah, awesome.

        = image_tag('free_sign.png')


  %section#supplimentary-info
    .row
      %p
        Diaspora is made by people like you. We are a community driven project that strives to make the future of the social web more.


