- content_for :head do
  = javascript_include_tag 'carousel'
  :javascript
    $(document).ready(function(){
      $('#carousel').bxSlider({
        auto:true,
        infiniteLoop:true,
        randomStart:true,
        pager:true,
        pagerSelector: "#carousel-pagers",
        pagerActiveClass: "active",
        controls:false,
        autoDirection:'prev',
        autoHover:true,
        mode:'vertical',
        autoDelay:7000, pause:7000,

        onAfterSlide: function(currentSlideNumber, totalSlideQty, currentSlideHtmlObject){
          var html = currentSlideHtmlObject.find('.info-text').html();
          $('#overlay_container').html(html).removeClass('zero-opacity');
        },

        onBeforeSlide: function(currentSlideNumber, totalSlideQty, currentSlideHtmlObject){
          $('#overlay_container').addClass('zero-opacity');
        }
      });

      $(window).bind('resize', function(){
        var carouselWidth = $("#carousel").offset().left,
          windowWidth = $(window).width(),
          offset = windowWidth - carouselWidth;

        $("#backing-rectangle").css("right", offset - 869);
        $("#triangle-top").css("right", offset - 918);
        $("#triangle-bottom").css("right", offset - 943);
        $("#triangle-fill").css("right", offset - 918);

        $(".rectangle_overlay").first().css("right", offset - 918);
      }).resize();
    })

#top_half
  #masthead.hero
    .inner
      #carousel-pagers
      #backing-rectangle.accel
      #triangle-top
      #triangle-bottom
      #triangle-fill
      .rectangle_overlay
        #overlay_container

      .container
        .clearfix
          %br
          %br
        .row
          %h1
            A network of social networks.
          %p.lead
            Diaspora* is a fun and creative community that puts you in control.

        .row
          #carousel
            #carousel-featured-users
              =image_tag 'featured-users.png', :class => 'featured-users'
              .info-text.hidden
                %h2
                  Creative Community
                %h4
                  Meet artistic people from all over the world who love the internet as much as you do.
                %h4
                  = link_to 'Join Us >', '#love_yr_community'

            #carousel-control
              = image_tag 'distributed.png', :class => 'distributed'
              .info-text.hidden
                %h2
                  Control
                %h4
                  Communication is human nature.  Social networking shouldn't be a compromise.
                %h4
                  = link_to 'Own your Data with Diaspora* >', '#host_yr_own'

            #carousel-best-of-web
              = image_tag 'cubbies-screenshot.png', :class => "cubbies-screenshot"
              .info-text.hidden
                %h2
                  Best of the Web
                %h4
                  Applications that enable you to cool stuff throughout the web.
                %h4
                  = link_to 'Explore Apps >', '#apps'

.container
  .inset
    = image_tag 'asterisk-inset.png'

  %section#features
    .page-header
      %h1
        Features our community loves
        %small
          And you'll love, too.

    .row
      .span4
        = image_tag('hashtag.png')
      .span4
        = image_tag('reshare.png')
      .span4
        = image_tag('mention.png')
      .span4
        = image_tag('heart.png')

    .row
      .span4
        %h4
          Hashtags
        %p
          Hashtags allow you to label and follow your interests.  They're also a great way to meet cool and interesting people on Diaspora*.
      .span4
        %h4
          Reshare
        %p
          Why not reshare a post you love with others?  Diaspora* makes it easy to spread ideas via reshare.

      .span4
        %h4
          Mentions
        %p
          Want to get the attention of an amazing community member? just @-mention them!

      .span4
        %h4
          Likes
        %p
          Show your appreciation for something you love by ♥-ing it.

    %hr
    .clearfix
      %br


    .row
      .span8
        %h4
          Personal Profile
        %p
          Say whatever you want about who you are.  Diaspora doesn't force your awesomeness into restrictive categories

      .span8
        %h4
          Aspects
        %p
          Ever wanted to to share something with a small group of people? Or post something out to the world?  Diaspora* pioneered Aspects, the original system for sharing things with the people you want, even if thats the whole world.

    .clearfix
      %br
      %br
    .row
      .span4
        = image_tag('services.png')
      .span12
        %h4
          Social network intergration
        %p
          Diaspora lets you stay connected with your contacts that are not yet on Diaspora*. Simply connect to services and use Diaspora* as a megaphone to your other social media accounts.  Diaspora* currently supports cross-posting to your Facebook, Twitter, and Tumblr accounts, with more to come soon.

        %br
        %br

    .row
      .span4
        =image_tag('question.png')
      .span12
        %h4
          We're here to help
        %p
          Diaspora is an international community of people who are passionate about making the social web work for everyone. We're excited to help. Just ask.

        %br
        %br
        %br
    .clearfix

    .row#small_features
      .span4
        %h6
          Bookmarklet

        %p
          Use Diaspora*'s bookmarklet to discover fun content around the web and share it with whomever you'd like.

      .span4
        %h6
          Hi-res photos
        %p
          Upload and share high-resolution photos with whomever you please.

      .span4
        %h6
          Lots more!
        %p
          %strong
            Ready to use Diaspora*?
          Then get an account on a community pod.  It's fast, easy, and free.

      .span4
        %h6
          Get an account
        %p
          = link_to "get account", pod_listing_link, :class => "btn primary"


  %section#benifits
    .page-header
      %h1
        Own your own data
        %small
          No one but you controls Diaspora*
    .row
    .clearfix
      %br
      %br

    .row
      .span2
        =image_tag('lock.png')
      .span14
        %h4
          Host it yourself
        %p
          Not content on hosting your data on someone else's server?  No problem!  Since Diaspora is completely free software, you can
          = link_to "grab the code", code_link 
          and host it where ever you want.  We're constatnly making it easier for individuals to host Diaspora themselves.


    .clearfix
      %br
      %br

    .row
      .span2
        = image_tag('download.png')
      .span6
        %h4
          Export your data
          %span.label.warning
            coming soon!
        %p
          Download all of your data in standard formats that can be used in other places.
      .span2
        = image_tag('two_asterisks.png')
      .span6
        %h4
          Move Pods
          %span.label.warning
            coming soon!
        %p
          Get started on a community pod, and then move all of your social data to a pod you control.  Diaspora's Distrubuted nature lets you keep full control of where you source your social data from
          = link_to 'open pods', pod_listing_link, :target => '_blank'

  %section#community
    .page-header
      %h1
        Diaspora is a community effort
        %small
          Made by people who love the internet just like you
    %p
      Diaspora is powered by passionate people doing fun things together.  Find out how what you love to do can help make Diaspora better.
      diaspora is made by people who love sharing online as much as you do. 
      = link_to 'Learn More', get_involved_path

    .row
      .span8
        %h2
          Contribute code

        %p
          Grabbing the source code is simple.  Clone down the repository and poke around:
          %code
            git clone git://github.com/diaspora/diaspora.git

        %p
          = link_to "View the source on github »", get_involved_path, :class => 'btn primary'


      .span8
        %h2
          Donate

        %p
          Explanation of why donations are so important.  Also, maybe a
          = link_to "link", "#"
          to that chart that will explain how we spend our money in developing Diaspora.

        = link_to "Donate", donate_path, :class => 'btn info'

      /=link_to "join our mailing list. you won't regret it:"



