#masthead.hero.sidekick
  .container
    .row
      %h1
        Thank you!
      %p.lead
        Your payment of
        %b
          = params[:amount]
        has been accepted.

.container
  %section#thanks-for-donating
    .page-header
      %h1
        If you give us your name and email, we can give you an invite.

    .row
      .span16
        = form_for Donor.new do |donor|
          %fieldset
            .clearfix
              = donor.label :name
              = donor.text_field :name

            .clearfix
              = donor.label :email
              = donor.email_field :email

          .actions
            = donor.submit "Done!", :class => 'success'
