#masthead.hero.sidekick
  .container
    .row
      %h1
        Share the love.
      %p.lead
        Three Easy Ways to Donate

      %div{:style => "text-align:center;"}
        = image_tag 'money.png', :height => 132, :width => 147

.container
  %section#user-pane
    .page-header
      %h1
        Thanks for your donation to Diaspora*
        %small
          Can we send you an invite?

    .row
      .span16
        = form_for @donor, :html => {:autocomplete => "off"} do |donor|
          %fieldset
            %legend
              If you give us your email, we can send you one.

            = donor.hidden_field :stripe_token

            .clearfix
              = donor.label :name
              .input
                = donor.text_field :name, :class => "xlarge"

            .clearfix
              = donor.label :email
              .input
                = donor.email_field :email, :class => "xlarge"

          .actions
            = donor.submit "Send me an invite!", :class => 'btn primary'
