<% content_for :page_title, t('.menu_title') %>
<% content_for :wrapper_class, 'supporters-page' %>

<div class="hero" id="masthead">
  <div class="container">
    <h1><%= t '.menu_title' %></h1>
    <h2 class="lead"><%= t '.byline' %></h2>
  </div>
</div>

<div class="page-header">
  <h2 class="text-center">
    <small><%= t '.supporters' %></small>
  </h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center"><%= t '.github' %></h3>
      <p class="minor-top-spacing" />
      <p class="text-center">
        <%= link_to image_tag('pages/supporters/octocat.png', alt: 'GitHub logo', size: '200x166'), 'https://github.com/diaspora/diaspora/' %>
      </p>
      <p class="minor-top-spacing"><%= t('.github_ex', github_link: link_to(t('.github'), 'https://github.com/diaspora/diaspora/')).html_safe %></p>
    </div>
    <div class="col-md-6">
      <h3 class="text-center"><%= t '.travis' %></h3>
      <p class="minor-top-spacing" />
      <p class="text-center">
        <%= link_to image_tag('pages/supporters/travis-mascot.png', alt: 'Travis logo', size: '166x166'), 'https://travis-ci.org/diaspora/' %>
      </p>
      <p class="minor-top-spacing"><%= t('.travis_ex', travis_link: link_to(t('.travis'), 'https://travis-ci.org/diaspora/')).html_safe %></p>
    </div>
  </div>
</div>

<div class="minor-top-spacing" />

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center"><%= t '.lets_encrypt' %></h3>
      <p class="text-center">
        <%= link_to image_tag('pages/supporters/letsencrypt.png', alt: 'Let’s Encrypt logo', size: '166x166'), 'https://letsencrypt.org/' %>
      </p>
      <p><%= t('.lets_encrypt_ex', lets_encrypt_link: link_to(t('.lets_encrypt'), 'https://letsencrypt.org/')).html_safe %></p>
    </div>
    <div class="col-md-6">
      <h3 class="text-center"><%= t '.webtranslateit' %></h3>
      <p class="text-center">
        <%= link_to image_tag('pages/supporters/webtranslateit.png', alt: 'WebTranslateIt logo', size: '200x166'), 'https://webtranslateit.com/en/projects/3020-Diaspora/' %>
      </p>
      <p><%= t('.webtranslateit_ex', webtranslateit_link: link_to(t('.webtranslateit'), 'https://webtranslateit.com/en/projects/3020-Diaspora/')).html_safe %></p>
    </div>
  </div>
</div>

<div class="minor-top-spacing" />

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center"><%= t '.kickstarter' %></h3>
      <p class="text-center">
        <%= link_to image_tag('pages/supporters/kickstarter.jpg', alt: 'Kickstarter logo', size: '300x144'), 'https://kickstarter.com/' %>
      </p>
      <p><%= t('.kickstarter_ex', kickstarter_link: link_to(t('.kickstarter'), 'https://kickstarter.com/')).html_safe %></p>
    </div>
    <div class="col-md-6">
      <h3 class="text-center"><%= t '.pivotallabs' %></h3>
      <p class="text-center minor-top-spacing">
        <%= link_to image_tag('pages/supporters/pivotallabs.png', alt: 'Pivotal Labs logo', size: '223x81'), 'https://pivotal.io/' %>
      </p>
      <p class="minor-top-spacing"><%= t('.pivotallabs_ex', pivotallabs_link: link_to(t('.pivotallabs'), 'https://pivotal.io/')).html_safe %></p>
    </div>
  </div>
</div>

<div class="minor-top-spacing" />

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center"><%= t '.sflc' %></h3>
      <p class="text-center">
        <%= link_to image_tag('pages/supporters/sflc.png', alt: 'Software Freedom Law Center logo', size: '180x180'), 'https://softwarefreedom.org/' %>
      </p>
      <p><%= t('.sflc_ex', sflc_link: link_to(t('.sflc'), 'https://softwarefreedom.org/')).html_safe %></p>
    </div>
    <div class="col-md-6">
      <h3 class="text-center"><%= t '.pivotallabs' %></h3>
      <p class="text-center minor-top-spacing">
        <%= link_to image_tag('pages/supporters/pivotallabs.png', alt: 'Pivotal Labs logo', size: '223x81'), 'https://pivotal.io/' %>
      </p>
      <p class="minor-top-spacing"><%= t('.pivotallabs_ex', pivotallabs_link: link_to(t('.pivotallabs'), 'https://pivotal.io/')).html_safe %></p>
    </div>
  </div>
</div>
