.clearfix
.container
  .row
    %h1 Supporters of Diaspora

  %section#sponsors
    .page-header
      %h1
        Sponsors

    .row
      .span4
        = link_to "http://pivotallabs.com" do
          = image_tag "http://www.xtremelabs.com/production/wp-content/uploads/2011/08/pivotal-labs-logo1.png", :width => 180, :height => 120
        %p
          Pivotal both housed and mentored the core team the first year.  They taught us much about making amazing software.  If you have a startup and are looking to make sure everything goes smoothly, you should contact them.

      .span4.potential_supporter
        %h6
          Want to see your name here?
        = link_to "Contact us", "mailto:yosem@joindiaspora.com", :class => "btn info small"


  %section#donors
    .page-header
      %h1
        Donors
        %small
          The people who keep the project going.

    .row
      .span4
        %h2
          You
        =image_tag 'montone_you.png'

      .span12
        %h4
          Make a difference
        %p
          Contributions come in all different shapes and sizes. whether it be
          = link_to "code,"
          design, community organizing, blah blah blah.  Or, you can make a monetary donation.

        = link_to 'Donate now', donate_path, :class => 'btn large primary'


    .row
      .span4
        %h2
          Kickstarter
        %p
          First and foremost, Diaspora is made possible by the generous nature of our original 
          = link_to 'Kickstarter backers.','http://www.kickstarter.com/projects/196017994/diaspora-the-personally-controlled-do-it-all-distr/backers'
          Without them Diaspora could have never become the huge social movement it is today.

        :erb
          <iframe frameborder="0" height="380px" src="http://www.kickstarter.com/projects/196017994/diaspora-the-personally-controlled-do-it-all-distr/widget/card.html" width="220px"></iframe>

      .span12
        %h4
          Our Backers

          %small
            Listed alphabetically

        .clearfix

        .well{:style => "height:470px;max-height:470px;overflow:scroll;"}
          - 5.times do
            - 1000.times do
              John Smith


