#masthead.hero.sidekick
  .container
    .row
      %h1
        Supporters of Diaspora*
      %p.lead
        The future of the social web starts with you.

.container
  %section#donors
    .page-header
      %h1
        Donors
        %small
          Thank you for making Diaspora* possible.

    .row
      .span4
        %h2
          Kickstarter
        %p
          First and foremost, Diaspora is made possible by the generous nature of our original 
          = link_to 'Kickstarter backers.','http://www.kickstarter.com/projects/196017994/diaspora-the-personally-controlled-do-it-all-distr/backers'
          Without them Diaspora could have never become the huge social movement it is today.

      .span12
        %h4
          Our Generous Donors

          %small
            Listed alphabetically

        .clearfix

        .well{:style => "height:470px;max-height:470px;overflow:scroll;"}
          = BACKERS.join(' ')
    %hr

  %section#future-donor
    .row
      .span4
        %h2
          You
        =image_tag 'montone_you.png'

      .span12
        %h4
          Make a difference
        %p
          We need your help to keep building Diaspora*. You can help in a
          = link_to "variety of hands-on ways.", get_involved_path
          Or by donating.


          Contributions come in all different shapes and sizes. whether it be
          = link_to "code,"
          design, community organizing, blah blah blah.  Or, you can make a monetary donation.

        = link_to 'Donate now', donate_path, :class => 'btn large success'


  %section#sponsors
    .page-header
      %h1
        Sponsors

    .row
      .span4
        = link_to "http://pivotallabs.com" do
          = image_tag "http://www.xtremelabs.com/production/wp-content/uploads/2011/08/pivotal-labs-logo1.png", :width => 180, :height => 120
      .span4
        = link_to "http://kickstarter.com" do
          = image_tag "kickstarter.jpg", :width => 180
    .row
      .span4
        %p
          Pivotal both housed and mentored the core team the first year.  They taught us much about making amazing software.  If you have a startup and are looking to make sure everything goes smoothly, you should contact them.

      .span4
        %p
          The generosity of the Kickstarter community has made Diaspora* possible. If not for these people, listed above, Diaspora could never have become the huge social movement it is today.

