%section#why_diaspora
  .page-header
    %h1
      Why Diaspora?
      %small
        Diaspora has a lot to offer

  .row
    .span4
      %h2
        Discovery
      %p
        Explanation text
        There are a lot of people out there on the Internet.  Diaspora allows individuals so meet new and interesting people.

    .span12
      %h4
        Connect to your other social networks
      %p
        Share with those not even on Diaspora yet with ease.  By connecting with services, you can use Diaspora as a megaphone to your social tools.  Diaspora currently supports cross-posting to your Facebook, Twitter, and Tumblr accounts.

      %h4
        Hashtags
      %p
        Hashtags allow you to express and follow your interests. They're also a great way to find new people on Diaspora.

      %h4
        Reshare
      %p
        Really like a post?  Then why not share it with your contacts?  Diaspora makes it easy to spread ideas throughout the network through resharing posts.

      %hr

  .row
    .span4
      %h2
        Choice
      %p
        We believe in an open web.  Diaspora breaks down the boundries set by traditional social networks by allowing you to host your account where ever you choose.

    .span12
      %h4
        Powered by
        = link_to "Open Source", "/get_involved#open_source"
        technology 
      %p
        Diaspora's code is readily available to look at and download.  Individuals should know what their software is doing with their data; we strive for complete transparency, not only in our code, but in our communication as well.  Feel free to tweak, contribute, and examine the ever-evolving Diaspora source-code.

      %p
        We have a largely internrational team working around the clock to make Diaspora better every single day.  We are committed to [something].

      %h4
        You're not tied to a single service provider

      %p
        Since Diaspora is able to run anywhere on the Internet, you can choose where you host your Diaspora ID, your passport to the Diaspora ecosystem.  You don't need to be on the same site as your friends to interact with them.  Diaspora breaks boundries through federation.

      %h4
        Host it yourself
      %p
        Not content on hosting your data on someone else's server?  No problem!  Since Diaspora is completely free software, you can
        = link_to "grab the code", "https://github.com/diaspora/diaspora"
        and host it where ever you want.  We're constatnly making it easier for individuals to host Diaspora themselves.

      %hr

  .row
    .span4
      %h2
        Real people
      %p
        Explanation text goes here.

    .span12
      %h4
        We're here to help
      %p
        Diaspora is an international community of people who are passionate about making the social web work for everyone. We're excited to help. Just ask.

      %h4
        International community
      %p
        Diaspora is an international community of people who are passionate about making the social web work for everyone. We're excited to help. Just ask.

      %hr

  .row
    .span4
      %h6
        Bookmarklet

      %p
        Use a bookmarket to easily share interesting content from around the web with whomever you'd like.


    .span4
      %h6
        Hi-res photos
      Upload and share high-resolution photos with whomever you choose.

    .span4
      %h6
        No Ads

      %p
        We don't like ads.  You don't like ads.

    .span4
      %h6
        Own your own data

      %p
        We're not in the business of selling your personal information to third parties.  Diaspora's mission is to connect people, not sell them out.

    %br
    %br
    %br
    %br
    %br
    %br
.clearfix

%section
  .page-header
    %h1
      Diaspora is a community effort
      %small
        Made by viewers like you
  %p
    Diaspora is powered by passionate people doing fun things togther.  Find out how what you love to do can help make Diaspora better.
    diaspora is made by people who love sharing online as much as you do. 

  .row
    .span8
      %h2
        Contribute code

      %p
        Grabbing the source code is simple.  Clone down the repository and poke around:
        %code
          git clone git://github.com/diaspora/diaspora.git

      %br
      %p
        = link_to "View the source on github »", get_involved_path, :class => 'btn primary'
      %br

      %p
        We've got a large community ready to help you get started.  We suggest you check out our
        = link_to "getting started guide,", "#"
        = link_to "joining our mailing list,", "http://groups.google.com/group/diaspora-dev"
        and hopping in the
        = link_to "Diaspora IRC room.", "irc://irc.freenode.net/#diaspora"


    .span8
      %h2
        Donate

      %p
        Explanation of why donations are so important.  Also, maybe a
        = link_to "link", "#"
        to that chart that will explain how we spend our money in developing Diaspora.

      = link_to "Donate", donate_path, :class => 'btn info'

    /=link_to "join our mailing list. you won't regret it:"



