= form_for @contributor do |f|
  -if @contributor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contributor.errors.count, "error")} prohibited this contributor from being saved:"
      %ul
        - @contributor.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :github_username
    = f.text_field :github_username
  .field
    = f.label :diaspora_id
    = f.text_field :diaspora_id
  .field
    = f.label :bio
    = f.text_area :bio
  .field
    = select("contributor", "kind", options_for_select(["hacker", "painter", "community"], { :selected => @contributor.kind}))
  .actions
    = f.submit 'Save'
