.container
  .span-24.last
    %h1 Listing contributors

    %table
      %tr
        %th Name
        %th Github username
        %th Diaspora
        %th Bio
        %th Avatar
        %th
        %th
        %th

      - @contributors.each do |contributor|
        %tr
          %td= contributor.name
          %td= contributor.github_username
          %td= contributor.diaspora_id
          %td= contributor.bio
          %td= contributor.avatar
          %td= link_to 'Show', contributor
          %td= link_to 'Edit', edit_contributor_path(contributor)
          %td= link_to 'Destroy', contributor, :confirm => 'Are you sure?', :method => :delete

    %br

    = link_to 'New Contributor', new_contributor_path
