.container
  .span-24.last
    %p#notice= notice

    %p
      %b Name:
      = @contributor.name
    %p
      %b Github username:
      = @contributor.github_username
    %p
      %b Diaspora:
      = @contributor.diaspora_id
    %p
      %b Bio:
      = @contributor.bio
    %p
      %b Avatar:
      = image_tag @contributor.avatar

    %p
      %b kind:
      = @contributor.kind
    = link_to 'Edit', edit_contributor_path(@contributor)
    \|
    = link_to 'Back', contributors_path
