!!!
%html
  %head
    %title
      The Diaspora Project
    %link{:rel =>"stylesheet", :href=>"http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css"}
    = stylesheet_link_tag 'application'

    = javascript_include_tag 'jquery-1.6.1.min'
    = javascript_include_tag 'twitter-tabs', 'bootstrap-modal', 'all', 'rails'

    = csrf_meta_tag
    = yield :head

    :javascript
      var agent=navigator.userAgent.toLowerCase();
      var is_mobile = (agent.indexOf('mobile')!=-1);
      $(document).ready(function(){
        if (is_mobile) { 
          $('header').css('position', 'absolute');
          $('.header_container').css('padding-right', '0`');
        }
      });

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17207587-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    %header.accel
      .header_container
        = link_to(image_tag("logo.png", :height => "70px"), root_path)

        %nav
          = link_to "home", root_url
          = link_to "blog",'http://blog.diasporafoundation.org/'
          = link_to "get involved", get_involved_url
          = link_to "supporters", supporters_url
          = link_to "sign up", pod_listing_link, :class => 'btn primary', 'data-backdrop' => true, 'data-controls-modal' => 'my-modal'
          = link_to "donate", donate_url, :class => 'btn success', :onClick => "_gaq.push(['_trackEvent', 'Donate Button', 'Click', 'page', '#{params[:action]}']);" 

    = yield

    %footer
      .container
        .row
          %h4 Useful Resources
          %ul#links
            .span4
              %ul
                %li
                  %strong
                    %a{:href => "http://github.com/diaspora/diaspora/", :title => "Git repository"} Codebase
                %li
                  %strong
                    %a{:href => "http://github.com/diaspora/diaspora/wiki", :title => "Wiki on github"} Documentation
                %br
                  %li
                    %a{:href => "http://github.com/diaspora/diaspora/issues", :title => "Bug tracker"} Find & Report bugs
            .span4
              %ul
                %li
                  %a{:href => "http://webchat.freenode.net/?channels=diaspora", :title => "#diaspora"} IRC - General
                %li
                  %a{:href => "http://webchat.freenode.net/?channels=diaspora-dev", :title => "#diaspora-dev"} IRC - Development
            .span4
              %ul
                %li
                  %a{:href => "http://groups.google.com/group/diaspora-discuss", :title => "General discussion mailing list"} Discussion - General
                %li
                  %a{:href => "http://groups.google.com/group/diaspora-dev", :title => "Dev mailing list"} Discussion - Development
            .span3
              %ul
                %li
                  %a{:href => "http://getsatisfaction.com/diaspora/", :title => "Get Satisfaction"} User Feedback
                %li
                  %a{:href => "http://guides.rubyonrails.org/"} Learn more about Ruby On Rails!

        %br
        .row#CC-licence
          .span16
            :erb
              <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">DiasporaFoundation.org</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://DiasporaFoundation.org" property="cc:attributionName" rel="cc:attributionURL">http://DiasporaFoundation.org</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.

#my-modal.modal.fade
  .modal-header
    = link_to 'x', '#', :class => 'close'
    %h3
      Join an open pod.

  .modal-body
    %p
      The Diaspora* ecosystem consists of numerous pods, which all connect together to form our new social web.  
    %p
      On the next page, you’ll see a list of the open pods.  The name of each of them is a link.  Simply pick one, click on that link (in the left column) and follow the simple steps on that pod’s home page to create your account.
    %p
      Note: You may find that some of these pods are not yet open to the public, like
      = link_to 'joindiaspora.com', 'https://joindiaspora.com.'
      In that case, we encourage you to try another one.


  .modal-footer
    = link_to 'Click here to choose a pod to join.', 'http://podupti.me', :target => '_blank'
    %p.note
      Note: This is a community resource and not run by the core team.

