!!!
%html
  %head
    %title
      The Diaspora Project
    %link{:rel =>"stylesheet", :href=>"http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css"}
    = stylesheet_link_tag 'application'

    = javascript_include_tag 'jquery-1.6.1.min'
    = javascript_include_tag 'twitter-tabs', 'all'

    = csrf_meta_tag
    = yield :head

    :javascript
      var agent=navigator.userAgent.toLowerCase();
      var is_mobile = (agent.indexOf('mobile')!=-1);
      $(document).ready(function(){
        if (is_mobile) { 
          $('header').css('position', 'absolute');
          $('.header_container').css('padding-right', '0`');
        }
      });

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17207587-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    %header
      .header_container
        = link_to(image_tag("logo.png", :height => "70px"), root_path)

        %nav
          = link_to "home", root_url
          = link_to "blog",'http://blogtest.sourcedecay.net/', :target => '_blank'
          = link_to "get involved", get_involved_url
          = link_to "supporters", supporters_url
          = link_to "sign up", pod_listing_link, :class => 'btn primary'
          = link_to "donate", donate_url, :class => 'btn success', :onClick => "_gaq.push(['_trackEvent', 'Donate Button', 'Click', 'page', '#{params[:action]}']);" 

    = yield

    %footer
      .container
        .row
          %h4 Useful Resources
          %ul#links
            .span4
              %ul
                %li
                  %strong
                    %a{:href => "http://github.com/diaspora/diaspora/", :title => "Git repository"} Codebase
                %li
                  %strong
                    %a{:href => "http://github.com/diaspora/diaspora/wiki", :title => "Wiki on github"} Documentation
                %br
                  %li
                    %a{:href => "http://github.com/diaspora/diaspora/issues", :title => "Bug tracker"} Find & Report bugs
            .span4
              %ul
                %li
                  %a{:href => "http://webchat.freenode.net/?channels=diaspora", :title => "#diaspora"} IRC - General
                %li
                  %a{:href => "http://webchat.freenode.net/?channels=diaspora-dev", :title => "#diaspora-dev"} IRC - Development
            .span4
              %ul
                %li
                  %a{:href => "http://groups.google.com/group/diaspora-discuss", :title => "General discussion mailing list"} Discussion - General
                %li
                  %a{:href => "http://groups.google.com/group/diaspora-dev", :title => "Dev mailing list"} Discussion - Development
            .span3
              %ul
                %li
                  %a{:href => "http://getsatisfaction.com/diaspora/", :title => "Get Satisfaction"} User Feedback
                %li
                  %a{:href => "http://guides.rubyonrails.org/"} Learn more about Ruby On Rails!


