<!DOCTYPE html>
<html>
<head>
  <title><%= page_title yield :page_title %></title>

  <meta charset="utf-8">
  <meta name="shortcut icon" href="/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to root_path(subdomain: false), class: 'brand' do %>
            <%= image_tag 'logo.png', alt: t('title'), title: t('title'), id: 'header-logo' %>
          <% end %>

          <div id="mainnav" class="pull-right">
            <ul class="nav">
              <li><%= link_to t('pages.about.menu_title'), about_url(subdomain: false) %></li>
              <li><%= link_to t('pages.get_involved.menu_title'), get_involved_url(subdomain: false) %></li>
              <li><%= link_to t('pages.blog.menu_title'), blog_index_url(subdomain: 'blog') %></li>
              <li><a href="http://wiki.diasporafoundation.org">Wiki</a></li>
              <li><a href="http://planet.diasporafoundation.org">Planet</a></li>
            </ul>
            <%= link_to "Host yourself", about_path(subdomain: false, anchor: "host"), class: 'btn btn-success' %>
            <%= link_to "Join Diaspora*", root_path(subdomain: false, anchor: "get_started"), class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>

    <div id="main-container" class="container-fluid">
      <%= yield %>

      <div id="pusher"></div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <h4>
          Useful Resources
        </h4>
        <ul id="links">
          <div class="span4">
            <ul>
              <li>
                <a href="http://github.com/diaspora/diaspora/" title="Git repository">
                  Codebase
                </a>
              </li>
              <li>
                <a href="http://wiki.diasporafoundation.org/" title="Diaspora wiki">
                  Documentation
                </a>
              </li>
            </ul>
          </div>

          <div class="span4">
            <ul>
              <li>
                <a href="http://github.com/diaspora/diaspora/issues" title="Bug tracker">
                  Find &amp; report bugs
                </a>
              </li>
            </ul>
          </div>
          <div class="span4">
            <ul>
              <li>
                <a href="http://webchat.freenode.net/?channels=diaspora" title="#diaspora">
                  IRC - General
                </a>
              </li>
              <li>
                <a href="http://webchat.freenode.net/?channels=diaspora-dev"
                   title="#diaspora-dev">
                  IRC - Development
                </a>
              </li>
            </ul>
          </div>

          <div class="span4">
            <ul>
              <li>
                <a href="http://groups.google.com/group/diaspora-discuss"
                   title="General discussion mailing list">
                  Discussion - General
                </a>
              </li>
              <li>
                <a href="http://groups.google.com/group/diaspora-dev"
                   title="Dev mailing list">
                  Discussion - Development
                </a>
              </li>
            </ul>
          </div>
        </div>

        <br />

        <div class="row" id="CC-licence">
          <div class="span16">
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
              <%= image_tag '80x15.png', alt: 'Creative Commons License', style: 'border-width: 0;' %>
            </a>

            <br />
            <a href="http://diasporafoundation.org/" property="cc:attributionName"
               rel="cc:attributionURL">
              http://DiasporaFoundation.org
            </a> is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
              Creative Commons Attribution 3.0 Unported License
            </a>.
          </div>
        </div>
    </div>
  </footer>
</body>
</html>
