<!DOCTYPE html>
<html>
<head>
  <title><%= page_title yield :page_title %></title>

  <meta charset="utf-8">
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> 
  <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">  -->
  <%= auto_discovery_link_tag :atom, news_feed_url(subdomain: 'blog'), {:title => t('newsfeed')} %>
  <%= auto_discovery_link_tag :atom, planet_feed_url(subdomain: 'planet'), {:title => t('planet_feed')} %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container mt-5">
      <div class="navbar-header">
        <%= link_to root_url(subdomain: false), class: 'navbar-brand' do %>
          <span id="header-logo">diaspora</span>
        <% end %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainmenu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="mainmenu">
        <li><%= link_to t('pages.get_involved.menu_title'), get_involved_url(subdomain: false) %></li>
        <li><%= link_to t('pages.blog.menu_title'), blog_index_url(subdomain: 'blog') %></li>
        <li><%= link_to t('.wiki'), 'https://wiki.diasporafoundation.org' %></li>
        <li><%= link_to t('pages.tutorials.menu_title'), tutorials_url(subdomain: false) %></li>
        <li><%= link_to t('.discourse'), 'https://discourse.diasporafoundation.org/' %></li>
        <li>
          <p class="navbar-btn">
            <%= link_to t('buttons.host_pod'), about_url(subdomain: false, anchor: 'host'), class: 'btn btn-primary' %>
            <%= link_to t('buttons.join_diaspora'), root_url(subdomain: false, anchor: 'get_started'), class: 'btn btn-success' %>
          </p>
        </li>
      </ul>
    </div>
  </nav>

  <div id="main-container" class="container-fluid <%= yield :wrapper_class %>">
    <%= yield %>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>
            <%= t '.useful_resources' %>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>
              <a href="https://github.com/diaspora/">
                <%= t '.codebase' %>
              </a>
            </li>
            <li>
              <a href="https://wiki.diasporafoundation.org/">
                <%= t '.documentation' %>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li>
              <a href="https://github.com/diaspora/diaspora/issues">
                <%= t '.report_bugs' %>
              </a>
            </li>
            <li>
              <a href="https://discourse.diasporafoundation.org/">
                <%= t '.discussion_general' %>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li>
              <a href="https://webchat.freenode.net/?channels=diaspora">
                <%= t '.irc_general' %>
              </a>
            </li>
            <li>
              <a href="https://webchat.freenode.net/?channels=diaspora-dev">
                <%= t '.irc_development' %>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="dropdown dropup">
            <button class="btn btn-defalt dropdown-toggle" data-toggle="dropdown">
              <%= t '.choose_language' %>
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
              <%= locale_switcher_entries %>
              <li>
                <a href="https://wiki.diasporafoundation.org/Contribute_translations">
                  <%= t '.translate' %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="license-text">
            <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">
              <%= image_tag 'cc_by.png', alt: t('.cc_license_alt') %>
            </a>
            <%= t('.licensed_under', site_link: '
              <a href="https://diasporafoundation.org/" property="cc:attributionName"
                 rel="cc:attributionURL">
                diasporafoundation.org
              </a>', license_link: %Q{
              <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">
                  #{t('.license_link_text')}
              </a>}).html_safe %>
            </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
