<!DOCTYPE html>
<html>
<head>
  <title><%= page_title yield :page_title %></title>

  <meta charset="utf-8">
  <%= favicon_link_tag "favicon.png" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= auto_discovery_link_tag :atom, news_feed_url, {:title => t('newsfeed')} %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to root_url(subdomain: false), class: 'brand' do %>
            <%= image_tag 'logo.png', alt: t('title'), title: t('title'), id: 'header-logo' %>
          <% end %>

          <div id="mainnav" class="pull-right">
            <ul class="nav">
              <!-- <li><%= link_to t('pages.about.menu_title'), about_url(subdomain: false) %></li> -->
              <li><%= link_to t('pages.get_involved.menu_title'), get_involved_url(subdomain: false) %></li>
              <li><%= link_to t('pages.blog.menu_title'), blog_index_url(subdomain: 'blog') %></li>
              <li><%= link_to t('.wiki'), 'https://wiki.diasporafoundation.org' %></li>
              <li><%= link_to t('pages.tutorials.menu_title'), tutorials_url(subdomain: false) %></li>
              <!-- <li><%= link_to t('.planet'), 'http://planet.diasporafoundation.org' %></li> -->
            </ul>
            <%= link_to t('buttons.host_pod'), about_url(subdomain: false, anchor: "host"), class: 'btn primary' %>
            <%= link_to t('buttons.join_diaspora'), root_url(subdomain: false, anchor: "get_started"), class: 'btn success' %>
          </div>
        </div>
      </div>
    </div>

    <div id="main-container" class="container-fluid <%= yield :wrapper_class %>">
      <%= yield %>

      <div id="pusher"></div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="span10" id="links">
          <h4>
            <%= t '.useful_resources' %>
          </h4>
          <div class="span3">
            <ul>
              <li>
                <a href="http://github.com/diaspora/diaspora/" title="Git repository">
                  <%= t '.codebase' %>
                </a>
              </li>
              <li>
                <a href="https://wiki.diasporafoundation.org/" title="Diaspora wiki">
                  <%= t '.documentation' %>
                </a>
              </li>
              <li>
                <a href="http://github.com/diaspora/diaspora/issues" title="Bug tracker">
                  <%= t '.report_bugs' %>
                </a>
              </li>
            </ul>
          </div>

          <div class="span3">
            <ul>
              <li>
                <a href="http://webchat.freenode.net/?channels=diaspora" title="#diaspora">
                  <%= t '.irc_general' %>
                </a>
              </li>
              <li>
                <a href="http://webchat.freenode.net/?channels=diaspora-dev"
                   title="#diaspora-dev">
                  <%= t '.irc_development' %>
                </a>
              </li>
            </ul>
          </div>

          <div class="span3">
            <ul>
              <li>
                <a href="http://groups.google.com/group/diaspora-discuss"
                   title="General discussion mailing list">
                  <%= t '.discussion_general' %>
                </a>
              </li>
              <li>
                <a href="http://groups.google.com/group/diaspora-dev"
                   title="Dev mailing list">
                  <%= t '.discussion_development' %>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div id="locale-switcher" class="span4">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <%= t '.choose_language' %>
            </a>

            <ul class="dropdown-menu">
              <%= locale_switcher_entries %>
            </ul>
          </div>
        </div>

        <div class="row" id="CC-licence">
          <div class="span16">
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
              <%= image_tag '80x15.png', alt: t('.cc_license_alt') %>
            </a>
            <%= t('.licensed_under', site_link: '
            <a href="https://diasporafoundation.org/" property="cc:attributionName"
               rel="cc:attributionURL">
              diasporafoundation.org
            </a>', license_link: %Q{
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
              #{t('.license_link_text')}
            </a>.}).html_safe %>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
