!!!
%html
  %head
    %title
      The Diaspora Project
    = stylesheet_link_tag 'print', :media => 'print'
    = stylesheet_link_tag 'screen', :media => 'screen'
    = stylesheet_link_tag 'application'

    = javascript_include_tag 'jquery-1.6.1.min'
    = javascript_include_tag 'github'
    = javascript_include_tag 'application'

    = csrf_meta_tag

  %body
    
    %header
      .container
        = link_to(image_tag("logo.png", :height => 109, :width => 282), root_path)

        %nav
          = link_to "blog", posts_path
          = link_to "get involved", page_path("get_involved")

    = yield

