!!!
%html
  %head
    %title
      The Diaspora Project
    = stylesheet_link_tag 'print', :media => 'print'
    = stylesheet_link_tag 'screen', :media => 'screen'
    = stylesheet_link_tag 'application'

    = javascript_include_tag 'jquery-1.6.1.min'
    = javascript_include_tag 'github'
    = javascript_include_tag 'application'

    = csrf_meta_tag

  %body
    
    %header
      .container
        = link_to(image_tag("logo.png", :height => "70px"), root_path)

        %nav
          = link_to "blog", posts_path
          = link_to "get involved", page_path("get_involved")

    = yield

    %footer.container
      .span-24.last
        %h3 Useful Resources
        %ul#links
          .span-6
            %ul.section
              %li
                %strong
                  %a{:href => "http://github.com/diaspora/diaspora/", :title => "Git repository"} Codebase
              %li
                %strong
                  %a{:href => "http://github.com/diaspora/diaspora/wiki", :title => "Wiki on github"} Documentation
              %br
                %li
                  %a{:href => "http://bugs.joindiaspora.com/", :title => "Bug tracker"} Find & Report bugs
          .span-6
            %ul.section
              %li
                %a{:href => "http://webchat.freenode.net/?channels=diaspora", :title => "#diaspora"} IRC - General
              %li
                %a{:href => "http://webchat.freenode.net/?channels=diaspora-dev", :title => "#diaspora-dev"} IRC - Development
          .span-6
            %ul.section
              %li
                %a{:href => "http://groups.google.com/group/diaspora-discuss", :title => "General discussion mailing list"} Discussion - General
              %li
                %a{:href => "http://groups.google.com/group/diaspora-dev", :title => "Dev mailing list"} Discussion - Development
          .span-5.last
            %ul.section
              %li
                %a{:href => "http://getsatisfaction.com/diaspora/", :title => "Get Satisfaction"} User Feedback
              %li
                %a{:href => "http://guides.rubyonrails.org/"} Learn more about Ruby On Rails!


